[2019-10-05 10:51] #597 closed

[2019-10-05 16:10] HyperSprite commented on #603
Awesome, thanks for the info.

[2019-10-08 09:57] #572 closed

[2019-10-08 09:58] kamilogorek commented on #572
Fixed, thanks!

[2019-10-09 09:18] stoefln commented on #545
@heisian I got the same error. Could you briefly explain what you did to get rid of it?
You wrote "Turns out i was calling Sentry.init with the wrong release version.", but I don't really get it...

[2019-10-10 11:34] vcraescu commented on #545
@heisian how did you solve the issue?

[2019-10-15 07:08] bhandaribhumin opened #608 "ENOTFOUND downloads.sentry-cdn.com downloads.sentry-cdn.com:443"
I try to install sentry cli terminal give me error.
System details: MacOS catalina 10.15
 npm -v : 6.9.0
node -v : v10.16.3

NOTE: I'm in proxy server already set proxy in npm and git.

[code]

[2019-10-18 19:36] aguynamedben commented on #509
@jan-auer Awesome! We're about to upgrade from Electron 4->5 so we'll try this instead of uploading manually.

[2019-10-18 19:38] aguynamedben commented on #509
Ah, we already did it when the symbols for Electron went above 2GB, an everything works well. Thanks @jan-auer for this feature. 🙏

[2019-10-22 05:39] dotconnor opened #609 "Allow setting/overriding Bundle ID for react native uploads."
Currently all of the react-native platforms with the exception of gradle don't allow you to override the generated/parsed bundle id when uploading source maps.

[2019-10-24 12:38] pvinis commented on #554
Any news on this? We still have the old version because the new one is broken.

[2019-10-28 16:43] synthecypher opened #610 "Install script does not respect `--silent` option on `npm ci`"
- [`/scripts/install.js`](https://github.com/getsentry/sentry-cli/blob/774fe91460c6855f565e0ae4b62fe063c10841c3/scripts/install.js#L45-L67)
[code]

[2019-10-29 07:45] link2malkeet commented on #545
All interested people kept asking the same question, how this got resolved, please tell or share your config please

[2019-10-29 07:51] vcraescu commented on #545
I didn't fix it at all. In Sentry UI the source map url si detected correctly but for some reason the source map is not loaded and makes debugging a real pain. Guess that's my life now... :(

[2019-10-29 11:23] EvalGitHub opened #611 "error: API request failed caused by: sentry reported an error: unknown error (http status: 405)"
i get an error described by follow words , can you help me?

error: API request failed
  caused by: sentry reported an error: unknown error (http status: 405)
Add --log-level=[info|debug] or export SENTRY_LOG_LEVEL=[info|debug] to see more output.
Please attach the full debug log to all bug reports.

[2019-10-29 19:47] stoefln commented on #545
I had a similar problem, maybe this helps you:
https://github.com/getsentry/sentry-webpack-plugin/issues/146#issuecomment-541057138

The key is that the js sdk needs to use the SAME release name as used for uploading the source files and maps.
Here is how you can define the release name for the js sdk: https://docs.sentry.io/error-reporting/configuration/?platform=browser#release

[2019-10-30 08:16] beeing opened #614 "sentry-cli: command not found in GitLab CI"
Hi, I've followed the steps in this [article](https://medium.com/angular-athens/make-angulars-source-code-available-to-sentry-with-gitlab-ci-b3020bd60ae6) which uses GitLab CI and the docker image of sentry-cli.

However, I encountered an error below:
[code]

[2019-10-30 20:18] tonyo commented on #614
Make sure that your commands are run inside the container, and that your $PATH is set to something sane.
Also, perhaps this thread will help you: https://github.com/getsentry/sentry-cli/issues/366#issuecomment-417615179

[2019-10-30 20:18] #614 closed

[2019-10-31 21:29] phillipCouto opened #615 "Getting "Stream error in the HTTP/2 framing layer" when uploading symbols"
Here is the snippet from the console when running the `sentry-symbols.js` file from the `sentry-wizard` utility.

[code]

This is a on-premise installation running version 9.1.2. Let me know what other information I can provide to help resolve this issue.

[2019-11-02 00:53] ray-kraesig opened #616 "react-native-xcode accesses Info.plist, but does not accept --info-plist argument"
`sentry-cli react-native xcode` uses `discover_from_env` unconditionally; it can't be explicitly overridden like `upload-{dif,dsym}` can.

(For our purposes, this would be subsumed by #200.)

[2019-11-04 08:30] flh0909 commented on #364
upload-sourcemaps  options  --no-sourcemap-reference

[2019-11-05 09:20] zdarovka commented on #433
That would be great, we are trying to automate most of the installation through choco

[2019-11-06 07:47] #587 closed

[2019-11-07 22:15] jeremyspiegel commented on #509
@jan-auer I'm using a custom Electron build, any update on when it will be possible to upload debug files larger than 2GB? Or do you happen to have steps or an example for setting up a custom repository from my Electron build?

[2019-11-09 00:54] nbolender commented on #615
@phillipCouto Any luck with this?

[2019-11-10 16:05] oprince commented on #508
Same here :(
Any solution ?

[2019-11-11 06:49] AvailCat opened #620 "Not able to install without bash, and not able to uninstall with bash"
It looks like there is no way to run sentry-cli in a clean way, not install, or installed but not able to uninstall.

**System:** Ubuntu 18.04.3 LTS
**Node**: 12.10.0

**To reproduce this, start a clean environment with docker and run commands below to test.**
[code]
or
[code]

**Problem 1**:
Install with npm, `root` don't have permission to /root?
[code]

**Problem 2**:
Run with npx
[code]

**Pro

[2019-11-11 08:23] Meeeeow commented on #508
It is not related with alpine, same issue on `node:lts` and `node:lts-buster` docker image, see #620

[2019-11-12 06:13] Meeeeow commented on #451
Same error message here, a `SENTRY_PROJECT` environment variable was dynamic exported at same stage, tested work with echo, but sentry cli says "project slug is required".

Temporary solution is write everything include token and project name in a `.sentryclirc` and delete it after source map uploaded

[2019-11-12 12:44] tonyo commented on #620
**Problem 1:**

Looks like npm doesn't allow to install globally for root by default, but it can be changed if you do
[code]
There's some additional information in this comment/thread: https://github.com/nvm-sh/nvm/issues/1407#issuecomment-316858947

**Problem 2:**

Hm, is it the full log, or there's something else in ```/root/.npm/_logs/2019-11-11T06_44_07_173Z-debug.log```? I don't think we've e

[2019-11-12 13:00] tonyo commented on #620
It looks like `npm config set unsafe-perm true` also fixes Problem 2.

[2019-11-12 13:03] tonyo commented on #508
A few notes here:
* The package is called `@sentry/cli`, not `sentry-cli`.
* `npx @sentry/cli` should work under root after you do `npm config set unsafe-perm true`

Feel free to provide another minimal failing example.

[2019-11-12 13:08] x20mar opened #621 "using docker image in azure pipeline"
Sorry, I may seem a bit of an idiot here but I've been trying to figure this out for half a day now with no luck.

I have a typescript application which I want to publish the source maps to sentry as a pipeline step but I can't figure out how to use the docker image for that.

I don't want to install sentry-CLI NPM package into the application as I feel that will just bloat the app.

Does anyone h

[2019-11-13 00:03] bruscantini opened #622 "Source code was not found"
I've been trying for days to get the sourcemaps in my production releases to get properly associated to sentry issues, with no luck :(
(see https://sentry.io/organizations/ember-fund-llc/issues/1310819568/?project=1324787&query=is%3Aunresolved+release%3Acom.emberfund.ember-2.3-codepush%3Av29&statsPeriod=14d).

The sourcemaps for development builds appear to work fine.
(see https://sentry.io/organi

[2019-11-13 14:23] sertony commented on #615
Try upgrading `curl`? It seems to help.

[2019-11-13 14:54] siredmar commented on #592
Thanks! Can you specify any time when we can expect this?

[2019-11-13 15:44] ThibaultVlacich opened #623 "Cannot update CLI"
I have installed on my machine the CLI version 1.48.0 and I'm trying to update to 1.49.0, but I'm getting an error while doing so:

[code]

Here is the full log:
[code]

I'm running the command as root, so no need for sudo (I installed the CLI as root also originally).

[2019-11-14 09:45] seadog0331 commented on #439
https://forum.sentry.io/t/413-error-when-uploading-bundle-js-map/297/29

[2019-11-14 21:54] RaschidJFR opened #625 "Can't log in with flag `--auth-token`, it has no effect"
When running `$ sentry-cli --auth-token=<myathtoken>` the command just ignores the flag and give the same ouput as running `$ sentry-cli`:

[code]

The file `.sentryclirc` is not being created until running the interactive login `$ sentry-cli login`.
I'm running Win10 btw.

[2019-11-15 00:36] felixchan opened #626 "The deployment Production does not exist. (cannot push release)"
In the past, (like, yesterday), I was able to push to Sentry using this command:

`sentry-cli react-native appcenter user.com/user-ios ios ./build/codePush --deployment Production`

Now, when I run the same command, I'm not able to push it.

[code]

AppCenter receives my push.
I've updated to 1.49.0, but bug persists.

[2019-11-15 01:25] lobsterkatie commented on #622
A little background information, in case others come across this issue.

In broad strokes, what our system does when processing each frame of a JS event is:

1) Notice the filename (the full URL of the bundle file) on the frame, and the `dist` and `release` tags on the event

2) Look at the associated `Release` object from your org, and check its uploaded artifacts to see if there's one whose name

[2019-11-15 01:27] #622 closed

[2019-11-15 02:43] Meeeeow commented on #620
@tonyo Confirm work.

[2019-11-18 11:29] ospfranco commented on #554
Hey, I just run into another issue, there is some regression break on the latest sentry-cli with codepush, the release name does not get matched properly, however with the latest version it started again, but that means this issue also started again.

Any news on this?

[2019-11-18 12:18] ospfranco commented on #554
Well, I got this working by manually adding the version name into the script, everytime I update the app version I now have to update this (I could probably script my way around this, but I don't want to), the final command is as follows:

[code]

[2019-11-18 13:55] JoaoFGuiomar commented on #545
Im having a similar message:
[code]

the minified scripts are missing a `server` folder 🤔

[2019-11-18 19:13] sertony commented on #615
It's rather connected to macOS Catalina, since we don't have this issue on Mojave.
What OS do you use?

[2019-11-18 19:33] phillipCouto commented on #615
I am on macOS Catalina, `10.15.1 (19B88)` to be exact.

I was going to try running the source code directly on my machine and debug it from that. Just haven't had a chance yet as I moved off to other tasks.

[2019-11-18 19:34] nbolender commented on #615
@sertony I'm suspecting as much as well, since it occurred after upgrading to Catalina (10.15.1). The system curl version is `curl 7.64.1 (x86_64-apple-darwin19.0) libcurl/7.64.1 (SecureTransport) LibreSSL/2.8.3 zlib/1.2.11 nghttp2/1.39.2`.

I am not sure how to upgrade curl and get sentry-cli to use it without replacing the system version. Any thoughts?

For now, I have disabled http2 on my sentr

[2019-11-18 19:37] phillipCouto commented on #615
@nbolender I was trying to do the same but since Sentry is behind a reverse proxy I was having a hard time disabling HTTP2 only for sentry.

I have more evidence that it is a macOS issue. I have a CI job that runs in a docker container and it is uploading fine. Just curious couldn't a rust HTTP client that supports http2 be used inside of linking to curl?

[2019-11-18 20:05] nbolender commented on #615
@sertony Homebrew specifically does not replace the system version at `/usr/bin/curl` since many things may rely on it, so I'm not sure that sentry-cli will use the homebrew version.

[2019-11-19 07:07] sertony commented on #615
@nbolender yep, you are right. That's why I added `export PATH="/usr/local/opt/curl/bin:$PATH"` to my bash_profile, but apparently it didn't help.

[2019-11-19 12:00] phillipCouto commented on #615
@sertony you need to recompile the cli to link to your custom location for the curl library not the executable.

[2019-11-26 10:37] noway commented on #81
changing
[code]
to
[code]

seemed to work for me... at least it built the app...

[2019-11-27 10:49] Meeeeow opened #628 "Check url prefix is valid before upload source map"
The documents says it could be a relative path start with `~/` or absolute path with host, and `~` will used to replace host inside abs_path.

**`~` was the key of uploaded source map not being used.**

But this make things confused:
![image](https://user-images.githubusercontent.com/19658647/69716996-2b4beb00-1146-11ea-8581-cb099a628e4d.png)
![image](https://user-images.githubusercontent.com/1965

[2019-11-27 12:26] siredmar commented on #439
Indeed, the information you give is very limited. Maybe i can help you. I just fixed an issue where two of three uploads of debug symbols worked with sentry-cli. The non working got a error 413 -> Payload too large.
I run a self hosted instance of sentry with nginx in front for https.
In my case nginx was the one who threw the 413. To fix that, just increase the setting `client_max_body_size` in y

[2019-11-29 14:35] rtyshyk commented on #451
@Meeeeow
Works fine for me with env variables.
[code]

[2019-11-30 06:54] nocturn2023 opened #630 "Login with sentry-cli but always return 'Invalid token: API request failed'"
Deploy on my own mac, address is http://localhost:9000

also try to login to remote server, it works!  so, does sentry-cli not support localhost?

.sentryclirc

[auth]
token=1111111111

[defaults]
url=http://localhost:9000/
project=react_test
org=sentry

[2019-11-30 07:41] nocturn2023 commented on #630
I`ve solved this problem by changing url to IP.

[2019-11-30 07:41] #630 closed

[2019-12-02 06:03] Meeeeow commented on #451
@rtyshyk In my case, `SENTRY_PROJECT` was dynamic exported by a executable in script section, not defined in CI configuration.

[2019-12-03 12:55] ChrisBountalis commented on #615
I also met this issue, while using the latest gradle sentry android plugin(io.sentry.android.gradle 1.7.28). Any workarounds for this?

[2019-12-03 13:09] beyondouyuan commented on #547
I am also the problem, i can't solve it

  DEBUG   2019-12-03 20:44:10.570344247 +08:00 body: []

  DEBUG   2019-12-03 20:44:10.694294876 +08:00 skipping update nagger because session is not attended

Source Map Upload Report
  Minified Scripts
    http://127.0.0.1:7002/zijia/book/static/js/zhima.261bee8f.js (sourcemap at zhima.261bee8f.js.map)
  Source Maps
    http://127.0.0.1:7002/zijia/book/st

[2019-12-06 08:16] vivekpd15 commented on #509
I am using the on premise version of sentry 9.1.2

This feature isn't available there. Any workarounds?

[2019-12-06 08:33] jan-auer commented on #509
The workaround for Sentry 9.1.2 is to use the `Electron Framework.sym` file.
For custom Electron builds with files larger than 2GB, the only way is to push the files to your own symbol server which is supported in Sentry 10. See [this page](https://docs.sentry.io/workflow/debug-files/#custom-repositories) for docs.

[2019-12-10 12:38] pavrda commented on #364
+1

[2019-12-10 18:27] shayneo commented on #625
same here

[2019-12-10 18:32] shayneo opened #631 "Asks me for org, then yells at me when I give it an org"
I run
`sentry-cli releases list`

and get the following error message
`error: An organization slug is required (provide with --org)`

Then I run `sentry-cli releases list --org myorgname` and get
`error: Found argument '--org' which wasn't expected, or isn't valid in this context`

[2019-12-11 17:56] MathieuUrstein opened #632 "Metro Bundler throws error on iOS: Error: Unable to resolve module `./index.ios`."
With sentry-cli installed, on ios, the metro bundler tries to reach the bundle by expecting it to have a `.ios` extension, while for a lot of people, there is none.

Metro bundler logs:
[code]

As you can see the command does : `GET /index.ios.bundle` while `GET /index.bundle` would be enough since `.native||.ios.js|.native.js|.js|.ios.json|.native.json|.json|.ios.ts|.native.ts|.ts|.ios.tsx|.nativ

[2019-12-12 10:33] GuilhermeSCP opened #633 "Error uploading bundle and sourcemaps (caused by: sentry reported an error: request failure (http status: 500))"
Hey there,

I'm trying to upload my bundle + sourcemaps but I always end up with this error. I wonder if any of you had this problem already or knows how to solve it.
[code]

This is my setup:
1. This is what my `.sentryclirc` looks like
[code]
2. I create the release like this:
`sentry-cli releases new $RELEASE_VERSION`
3. Then I upload the files like this: `sentry-cli releases files $RELEASE_VER

[2019-12-13 18:35] zbycz opened #634 "error: running update nagger + 403"
Hi,

I receive this error while uploading sourcemaps to our on-site sentry instance. Every time it uploads different set of sourcemaps.

I think this shows an OK request that was performed, and then sth strange happens `error: running update nagger` -- any idea why this happes? 🙏 Thanks! :-)

[code]

- sentry server: 9.1.2
- sentry-cli: 1.49.0
- yarn: 1.21.1 node 10.16.0

[2019-12-13 19:42] zbycz commented on #634
On CI i got more precise log: ([full log here](https://gist.github.com/zbycz/16172e633959cd5d246387725970cc46))
[code]

Seems like the "nagger" is not the issue, but `Uploading source maps` is. Still not sure why.. 🤷‍♂

[2019-12-16 13:22] mariot opened #635 "npm install v1.49 fails on Windows x86-64"
Steps to reproduce

    mkdir sentrycli
    cd sentrycli
    npm init
    npm install @sentry/cli@1.49 --save

Error

$ npm install @sentry/cli@1.49 --save

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @sentry/cli@1.49.0 install: `node scripts/install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the @sentry/cli@1.49.0 install script.
npm ERR! This is probably not a problem with npm

[2019-12-18 10:36] #609 closed

[2019-12-18 13:07] nodkz commented on #482
@jan-auer It's really strange behavior.

We are using the following commands:
[code]

According to these cli commands - it's very strange that we use `sentry-cli releases` with provided project value for uploading source-maps. And they are not project-specific.

Global releases blow my mind 🤯, cause any sentry account may contain different projects with the same app versioning strategy (eg. 1.0.0,

[2019-12-19 11:02] zbycz commented on #634
Ok, so this was cause by our cloudflare/WAF rule.

But still it would be good to see which `API request failed`... You may create a new issue if you wish.

[2019-12-19 11:02] #634 closed

[2019-12-19 14:33] felixjb commented on #520
I'm having the same problem

[2019-12-20 13:49] insantr commented on #633
Hi, we also have this error. We deployed our Sentry server in the docker from https://github.com/getsentry/onpremise a couple of days ago.

We found that the problem in Sentry server. By default, the Sentry server tries to save the bundle files in its own file storage, which is located in "/data/files" path.
But the Sentry server does not have write permissions to this directory because it does no

[2019-12-23 12:27] gitzhaochen commented on #436
Is anyone going to look into this? I have the same issue. Would be nice to get some input from sentry.. it's been open for 13 months with absolutely no response

[2019-12-26 14:05] babac87 opened #638 "Unable to upload dsym files"
For past several days I'm trying to upload dsym files to our self-hosted sentry. dSYMs folder is extracted from .xcarchive.

Tried with upload-dsym and upload-dif and getting same result.

Note: token, domain name and app name are changed to API_TOKEN, MY_DOMAIN and MY_APP.

We are using sentry v9.1.2 and sentry-cli 1.49.0

Command I'm using is `sentry-cli --auth-token API_TOKEN --url https://sent

[2019-12-28 07:21] ManAnRuck commented on #421
https://docs.sentry.io/platforms/react-native/manual-setup/#using-node-with-nvm-or-notion
this works for me locally, but on travis-ci.com it does not work. (I use nvm on travis)
also the workaround https://github.com/getsentry/sentry-cli/issues/421#issuecomment-437699488 doesn't work for me on travis

[2020-01-10 09:58] gucomecan commented on #307
It is all about credentials. Start npm install from cmd started as admin/root

[2020-01-10 22:01] silavsale commented on #179
Did you found any solution how to set SENTRY_ORG?

[2020-01-12 19:46] RaschidJFR commented on #625
So I got a workaround, I built this script: [sentry-login.js](https://gist.github.com/RaschidJFR/64a9e6007f59a111094e8b03062daf7f#file-sentry-login-js).

Just run

[code]

[2020-01-14 07:24] pqvst opened #640 "Update `https-proxy-agent` to 4.0 to remove http/s patching"
The old version of the `https-proxy-agent` dependency depends on an old version of `agent-base` which causes breakage in other unrelated packages due to http/s patching.

Similar to:
https://github.com/getsentry/sentry-javascript/pull/2355

Root issue:
https://github.com/TooTallNate/node-agent-base/issues/35

[2020-01-20 07:04] hulucc opened #641 "Crash when including sources contains a big pch file"
I can't upload the symbol file here. Tell me if more info is needed.
[code]

[2020-01-20 13:00] Grohden commented on #601
Can confirm that using the package name doesn't work either

[2020-01-21 22:23] boennemann commented on #577
I'm seeing the same problem. I don't get why all the release name patterns for react-native related commands are hardcoded. This is completely breaking with promoting code-push bundles, too.

Also attaching commit information is a complete PITA, because the release name is not predictable with the hardcoded label postfix.

The same collisions will happen if you build the native version multiple ti

[2020-01-24 18:48] dccarmo commented on #375
Any updates regarding this? We're facing the same issue (on React Native and Node SDKs) and can't figure out how to solve.

[2020-01-27 13:32] martrik opened #643 "Crashes with "No such file or directory" when automatically uploading sourcemaps"
I'm trying to make iOS React Native export sourcemaps so that Sentry CLI picks them up and uploads them automatically.

This is my `Bundle React Native code and images` script:
[code]

However, the script fails with the error: `error: No such file or directory (os error 2)`. I've added the `--log-level=debug` flag but it doesn't provide any additional information about the crash.

I've tried all p

[2020-01-27 16:47] vitalets opened #644 "Unable to use --ext `js.map`"
I'm trying to keep only `js` and `js.map` file extensions while uploading source-maps (exclude `css.map`). And getting error:
[code]
when I remove `--ext js.map` everything works.
I've tried to escape dot in `js.map` and played with quotes `--ext='js.map'` but no luck.
How can I do it?
[code]

[2020-02-04 13:33] #640 closed

[2020-02-04 13:53] kamilogorek commented on #635
I tried to reproduce the issue with no luck. Let me know if it's still relevant.

![image](https://user-images.githubusercontent.com/1523305/73750828-29159680-475e-11ea-822f-fb1e3bf0b351.png)

[2020-02-04 13:53] #635 closed

[2020-02-04 14:47] kamilogorek commented on #643
Can you provide some kind of repro case to showcase this behavior?

[2020-02-04 16:01] gerbal commented on #541
Can confirm we are also affected by this. Our fairly stupid solution was to use a cloudflare worker to inject the `Content-Length: 0` header

[2020-02-05 12:49] #541 closed

[2020-02-05 13:02] kamilogorek commented on #633
Thanks @insantr!

cc @BYK this is probably something that we might want to add to the OnPremise documentation.

[2020-02-05 13:02] #633 closed

[2020-02-05 13:10] kamilogorek commented on #625
`--auth-token` flag has no effect if you don't provide a command. It's inline authentication method.

Try to run: `sentry-cli info` vs. `sentry-cli --auth-token=X info`.

![Uploading image.png…]()

[2020-02-05 13:10] #625 closed

[2020-02-05 16:13] BYK commented on #633
This was a bug on our setup which should be fixed a few weeks ago. Thanks for the heads up @kamilogorek!

[2020-02-05 21:23] amoskyler opened #649 "Inconsistent base url handling while processing source map uploads"
### What's happening
1. sentry-cli overrides the base URL with the value from the `url` field returned by `api/0/organizations/<org>/chunk-upload/`
2. sentry-cli is returned a 302 when posting to the returned URL, however this is not treated as an error - sentry-cli continues on and completes the process as if it was successful.

### What should happen
1. sentry-cli should treat a 302 status code

[2020-02-06 03:40] dizer opened #650 "Prepare debug files for a custom Symbol Server"
Some of our debug files exceed 2GB limit and unable to be uploaded directly. So now we are testing Symbol Server (S3) and it looks fine.

But the problem is a directory layout. We have 3 platforms and all of them require own paths and utils to generate them.

Is there any way to simplify layout generation? Via CLI or proxy (does https://github.com/getsentry/symbolicator/ may help)?

[2020-02-06 07:17] mitsuhiko commented on #650
We have a tool that can do this in the symbolicator repository: https://github.com/getsentry/symbolicator/tree/master/symsorter

[2020-02-06 14:13] #610 closed

[2020-02-10 16:00] kamilogorek commented on #620
Problem 1: Solved above
Problem 2: It works fine now. You don't need to specify the name of a binary, just a package, so `npx @sentry/cli <commands>`
Problem 3: https://github.com/getsentry/sentry-cli/pull/652

[2020-02-10 16:03] kamilogorek commented on #623
It's same issue as https://github.com/getsentry/sentry-cli/pull/652
I'll try to come up with more generic solution.

[2020-02-11 09:07] dizer commented on #650
Thanks! Finally, it works =) `symbolicator/symsorter` does the work.

Some information in a case someone will do it:

- First, you need to build your app and get debug files (in our case it were .dsym on Mac and .pdb on Windows).
- Second, apply`symbolicator/symsorter`. It will sort files like:
[code]
where `835700a1ba04e7f1ca6e94387c118d8dd6e50ada` is SSQP platform-dependent ID. `debuginfo` is yo

[2020-02-11 17:41] fvhockney opened #655 "project not found uploading sourcemaps"
attempting to upload sourcemaps via the cli, It fails with `error: project not found`. May be related to #649

# What I have done
Run with config and ENV variables set
confirmed that I can login and view release info with the cli
confirmed I can create releases with the cli
confirmed that I can upload a single file with the cli to the release in question
confirmed that it still doesn't work with a

[2020-02-11 22:05] fvhockney commented on #655
After a bit more investigation, I am fairly sure that this issue is caused by the (recent) 302 check implemented. I think that when the port number is (automatically) appended to the base path, this causes a 302 (I think) which would fail with this message.

[2020-02-11 22:15] fvhockney commented on #655
for what it's worth, downgrading to npms @sentry/cli@1.49.0 removes the problem, so this gives some credence to the general manner that 301 and 302's are now handled.

[2020-02-12 04:43] shackra opened #661 "error: GIT_WORK_TREE unimplemented; class=Invalid (3)"
Hi!

the build part with Sentry cannot complete due to this error `error: GIT_WORK_TREE unimplemented; class=Invalid (3)`, I cannot understand why Sentry cares for such environment variable.

Here is my `post-receive` git hook:

[code]

(I have a `.sentryclirc` with an `defaults.org` and `auth.token` set)

Here is the full logs from Sentry:

[code]

[2020-02-12 07:35] kamilogorek commented on #655
@fvhockney can you provide a whole debug log (can be sanitized) please?

[2020-02-12 08:09] fvhockney commented on #655
yup. sure will. I have to make sure it actually uploads the artifacts with 1.49.0 (didn't have any .map files last night). I'll include logs for both versions.

[2020-02-12 09:08] fvhockney commented on #655
Logs uploaded as text files. I can confirm that the 1.49.0 version doesn't return any errors, but it also doesn't upload the artifacts (at least not where I can see them in the ui) ... Also, this is a self hosted (docker) instance.

[upload_1_49_0.txt](https://github.com/getsentry/sentry-cli/files/4190814/upload_1_49_0.txt)
[upload_1_50_0.txt](https://github.com/getsentry/sentry-cli/files/4190815/

[2020-02-12 13:09] #620 closed

[2020-02-12 13:09] #623 closed

[2020-02-12 20:41] minderov opened #658 "Bundle gets successfully uploaded with "Internal Error""
**TL;DR:** Source map uploads with no errors, but the content is replaced by `{"detail": "Internal Error", "errorId": "..."}`

I am using Sentry on premise.

Command I run:
[code]

Output:
[code]

The bundle shows up with 0 bytes size:
![image](https://user-images.githubusercontent.com/15854038/74372039-cdb35c00-4d8e-11ea-984f-4e3d347c1ce5.png)

The bundle's content, after uploading is (before upl

[2020-02-13 11:54] kamilogorek commented on #375
Log displays list of files that has been referenced in all sourcemaps. It doesn't mean that they're available on a disk. And according to the log, it's not the case. Is someone able to provide a repro-case I could use to debug this?

[2020-02-14 04:09] shackra commented on #661
well, yes, this is the case, I use a bare repository in my VPS and Git hooks to make the deploy, is there a way to provide the last commit to work around this issue? [git-revision-webpack-plugin](https://www.npmjs.com/package/git-revision-webpack-plugin) works fine for me

[2020-02-14 07:18] kamilogorek commented on #661
Yes, see this part of the docs: https://github.com/getsentry/sentry-webpack-plugin/#optionssetcommits

[2020-02-14 18:20] shackra commented on #661
thanks!

This and fixing the `setCommits.repo` made it works with my current git repository configuration

[2020-02-17 09:06] kamilogorek commented on #661
Awesome, thanks!

[2020-02-17 09:06] #661 closed

[2020-02-17 12:31] Tymolc opened #663 "Sentry fails to upload debug files due to a duplicated Authorization header"
We are trying to set up a self-hosted Sentry instance. We use a prebuilt Sentry Docker image and have an nginx load balancer connected as well.

When trying to use `sentry-cli` to upload debug files (using `upload-dif` or `upload-dsym`), the upload always fails with a 400 error response.

The most prominent difference between the successful and the failing requests I can see is that the failing re

[2020-02-17 15:48] kamilogorek commented on #655
@fvhockney can you first try to configure your endpoint to include the port?

Go to Menu > Admin and change this setting:

![image](https://user-images.githubusercontent.com/1523305/74668342-4eb28f00-51a5-11ea-8511-0100932100b1.png)

Once this is set, the upload endpoint will include the port.

[2020-02-17 15:51] kamilogorek commented on #649
I was wondering what are your current instance settings (explained here https://github.com/getsentry/sentry-cli/issues/655#issuecomment-587054221). It's not very clear to me from the initial post.

[2020-02-17 15:53] martrik commented on #643
I fixed the issue by passing a complete path as the sourcemap output argument:
[code]

[2020-02-17 15:53] #643 closed

[2020-02-17 16:16] amoskyler commented on #649
My current root url setting is `oauth_authenticated_sentry_tunnel.example.com`.

However, in my case I am uploading the source maps over an internal IP address, e.g. `10.1.1.1:8080`. It is internally accessible only and has no proxy authentication (unlike the configured root url).

The first part of the issue in this ticket is the 302 responses failing silently, the second is sentry-cli ignores th

[2020-02-17 16:27] jan-auer commented on #649
@amoskyler it might be undocumented, but can you try to set the option `system.upload-url-prefix`? It is specifically made for overriding URLs like this.

[2020-02-17 16:33] amoskyler commented on #649
I had previously done this actually, but didn't think it had worked - I will try it again.

Is there a reason for the current implementation I am missing? Practically speaking, given how this endpoint behaves, it doesn't make a ton of sense to me.

[2020-02-17 16:41] jan-auer commented on #649
This was a design concern when we gave file uploads (including source maps) an overhaul. Our assumptions were:
- Most users would be able to upload files on a URL where Sentry is reachable (`system.url-prefix` must be valid or otherwise most of Sentry doesn't work)
- For special use cases, one could use the `system.upload-url-prefix` to route uploads to specific hosts or different URLs. By setting

[2020-02-18 14:18] schumannd commented on #635
same issue here on osx. It happened after integrating expo-av and unimodules. Still debugging...

[2020-02-21 19:04] Nowaker opened #664 "Should support SENTRY_DSN for no-hassle setup"
`sentry-cli` uses different environment variable names than the client. Or requires a manually written config (which is not convenient for disposable CI environments). Moreover, user tokens `sentry-cli` uses are not suitable for CI environments as they're bound to the user and not the project. We don't want a CI server to "impersonate" one of the developers when adding a release. We don't want a C

[2020-02-22 19:52] chaffeqa opened #666 "SSL Error Github Actions"
[code]

Where do I start on this? is it an SSL verification issue?

[2020-02-23 18:40] rnbwspctrm commented on #445
I am having this issue currently. Output table shows repo name and recent revision, nothing more. No associated commits in sentry.

Debug logs show a 208 response from Sentry after github 'found matching revision' and sent that to sentry with the project name. Should there be commits being sent from github here?  Any ideas on how I can move forward here?

It would be nice if there was some way to

[2020-02-23 18:51] rnbwspctrm commented on #445
It seems it is a permissions issue. I am beyond frustrated trying to debug the connection between sentry and github, it's been multiple days now. Please consider including more information about this in the UI and the output of these commands, as I am seeing lots of people having problems with these issues and we could all use a little more information being provided up front.

[2020-02-24 13:31] kamilogorek commented on #445
@rnbwspctrm could you provide a list of information that you'd like to see in the output?
Is it just after the command is issued, or you'd also like to include it in something like `sentry-cli release info <release-name>`?

[2020-02-24 13:33] kamilogorek commented on #666
You should get more verbose log with `--log-level=DEBUG` flag.

[2020-02-24 13:36] chaffeqa commented on #666
I cannot set that since its the webpack plugin calling `sentry-cli` underneath the hood.

I do have `debug: true` on the webpack plugin though, also tried `SENTRY_LOG_LEVEL="DEBUG"`... both of which didnt seem to expand on this error.

If it helps, my feeling is this is a combination of not configuring the github action correctly + not being able to turn off the SSL verification python `requests`

[2020-02-24 13:37] chaffeqa commented on #666
...I've also tried setting `REQUESTS_CA_BUNDLE=""` which is documented in the python package to possibly be a way of bypassing SSL verification... no ice :(

[2020-02-25 12:29] kamilogorek commented on #666
@chaffeqa you can see the exact command called by the webpack plugin, so you can easily call it yourself to get direct output

[code]

(you can also find the binary under `./node_modules/.bin/sentry-cli`)

[2020-02-25 12:47] chaffeqa commented on #666
correct I can see that in the output, but once again this is being called via https://github.com/getsentry/sentry-webpack-plugin which means I do not have access to modify that call.

Regardless of turning on debug logging, do you know where I should go (which repository) to solve this issue?

FYI I'm going to dive into the internals of https://github.com/getsentry/sentry-webpack-plugin and see if

[2020-02-25 12:57] kamilogorek commented on #666
Webpack plugin won't give you any more data than the sentry-cli itself will. We need to see the debug output of the CLi, as it'll most likely explain what's wrong with the SSL certificate.

[2020-02-25 13:02] chaffeqa commented on #666
correct, but the webpack plugin is the one that invokes `sentry-cli` (and passes options) so in order to get more info on this I need to trick it to call `sentry-cli` with `SENTRY_LOG_LEVEL=DEBUG`

Actually it looks like i may be able to use the  [properties file](https://docs.sentry.io/cli/configuration/#properties-files) to turn on debugging.  Going to try that (since sentry-webpack passes that

[2020-02-25 13:23] chaffeqa commented on #666
Yea so while im waiting to see if the properties file will work, i dove into the internals to see how options are passed from webpack to `sentry-cli` (javascript wrapper) and eventually to the rust binaray (as cmd line options).

apart from the schema white listed options for `releases`, it looks like the [only way to pass options is via environment variables](https://github.com/getsentry/sentry-c

[2020-02-25 13:29] chaffeqa commented on #666
NICE! the properties file worked!

I specified:

[code]

Which not only turned on the debug log level for `sentry-cli` but `verify_ssl` option seemed to fix the SSL error I was having.

I'm going to remove that and see if the debug output catches the original SSL error and pass that on to you.

[2020-02-25 13:47] chaffeqa commented on #666
[code]

☝️ that is with `http.no_verify=true` ... clearly not very useful 😞 however I was doubting it would be that useful since this is a network protocol specific issue.  I wonder if github actions needs to have CA certs updated or something... open to suggestions, but at least I have a reproducible case (and workaround using `http.no_verify=false`)

[2020-02-25 13:54] kamilogorek commented on #666
You can also try to set `CURLOPT_VERBOSE=1`  env variable to get more direct output from curl library.
Also, make sure that you are using correct sentry token that has required permissions. More detials on it here - https://blog.sentry.io/2019/12/17/using-github-actions-to-create-sentry-releases

[2020-02-25 13:57] chaffeqa commented on #666
ah so it IS using curl under the hood!  I was wondering if that was so!

I'll try that out, FYI the auth token has all the valid permissions, and is working fine as long as SSL verification is ignored.

[2020-02-25 14:10] kamilogorek commented on #663
I can't seem to be able to reproduce this issue in any reliable way. Not a single way I tried to perform a request produced multiple `Authorization` header. Is there a chance you were able to do that?

[2020-02-25 14:29] Tymolc commented on #663
Sadly, I still don't know why the duplicated header should occur.
It only happens with our on-premise setup of Sentry. I don't see any problems when pushing something to sentry.io ...
I'm not too familiar with Rust. The code part that looked like it could cause this behaviour the most to me was this one: https://github.com/getsentry/sentry-cli/blob/399eb44cb14f85229ca7ee75dc430340123e29e9/src/api.

[2020-02-25 19:23] fazo96 commented on #406
We are running into the same problem. @jan-auer @sheerun did you find any solution or workaround? We are using the official sentry webpack plugin to handle source map uploading, but it skips the .next folder.

[2020-02-25 22:05] sheerun commented on #406
no, it's still a bug

[2020-02-26 09:15] lwmouneyrac commented on #632
Same error too:
[code]

Details
--------
* React Native 0.59.9
* Typescript
* one unique index.js as per React Native standard (no index.ios.js)
* Using cocoapods
* Added --allow-fetch => this generated wrong souce map that said index.ios.js could not be found (inside the index.ios.map file, when I download the file from the release Artifacts)
* this project works well on bugsnap (I had to upload

[2020-02-27 15:53] kamilogorek commented on #406
@fazo96 create an ignore file, put a `!.next` in it and tell the cli to use it. It'll work just fine.

[code]

[2020-02-27 17:53] kamilogorek commented on #632
@lwmouneyrac can you please create a repro repository with an app created using RN wizard please? Would highly appreciate it. Thanks

[2020-02-28 02:53] lwmouneyrac commented on #632
Find my Ignite + Sentry project there:

https://github.com/lwmouneyrac/sentry_ignite/commits/master

The first commit is an fresh Ignite project with typescript. Nothing changed from the ignite new command.

The second commit is the code produce after I run the RN Sentry wizard (I removed the DNS/auth_token/org)

Then what I do to build and upload the sourcemaps is:

`sentry-cli login`

`react-nat

[2020-02-28 12:45] HazAT commented on #632
So is the error gone if you remove `--allow-fetch`?
We do not need this anymore, the latest version of the react-native SDK is capable of doing on-device symbolication by calling metro bundler directly.

[2020-02-29 21:54] drptbl commented on #375
Same issue.

[2020-03-02 17:16] alexeightsix opened #669 "sentry release command not respecting -p flag?"
When using the command I get this output:

Create new release...
  INFO    2020-03-02 17:06:50.737738472 +00:00 Loaded config from /root/.sentryclirc
  INFO    2020-03-02 17:06:50.738024361 +00:00 sentry-cli was invoked with the following command line: "/usr/local/lib/node_modules/@sentry/cli/sentry-cli" "releases" "new" "-p" "axxf-xx-xx-app" "1583168359"

  INFO    2020-03-02 17:06:52.115321494 +

[2020-03-02 17:46] fazo96 commented on #406
I tried passing `['.next', 'app']` to the `include` option of the webpack plugin. I'll see what happens in the next prod deployment and report back

[2020-03-03 01:32] lwmouneyrac commented on #632
Hi HazaT

yes the initial error is only when you add --allow-fetch (as I mentioned in my PS)

[2020-03-03 10:59] kamilogorek commented on #669
I cannot reproduce this behavior locally. Can you paste whole debug log?

[2020-03-03 14:16] kamilogorek commented on #663
@Tymolc I investigated it, and apparently when some requests are not sent through http/https, they can get authenticated, however from what I see, your requests are all done through https. I'll try to find some more time to get this request flow ironed-out, and it should help fix this issue.

[2020-03-03 17:48] jan-auer commented on #615
Could you try again with `sentry-cli v 1.51.1`? We started to link libcurl statically.
cc @kamilogorek

[2020-03-03 19:35] janicduplessis opened #671 "Error: Unexpected sentry-cli version "", expected "1.51.1""
This error happens sporadically during the postinstall phase on CI. Maybe on 1 out of 10 builds. CI is Github Actions.

[code]

CLI version: 1.51.1

[2020-03-04 11:00] versedi opened #672 "Provide binary for FreeBSD"
Hello,

Would it be possible to provide the executable binary for FreeBSD x86/x64?

[2020-03-04 12:32] HazAT commented on #632
@lwmouneyrac Sorry you need to help me here. I never heard about ignite.
What specifically is the issue here that we should fix?
Like I said in my previous comment, `--allow-fetch` is no longer required our SDK does it now.
I also don't understand at all how to metro bundler interferes with sentry-cli

[2020-03-04 13:02] kamilogorek commented on #671
It looks like some kind of race condition, where `sentry-cli` is not being installed on time. Is it possible to get a full, verbose log of the CI process? Thanks

[2020-03-04 13:48] kamilogorek commented on #672
Hey, there is no plan to support that on our roadmap, but we are open for the PR introducing it :)

[2020-03-04 15:38] janicduplessis commented on #671
I added verbose logs to CI. The issue has not happened again yet but from the logs I might have an idea what is going on.

[code]

I'm using sentry in a monorepo with yarn workspaces and have multiple copies of the cli getting installed. I think this is what is causing the race since it is probably downloading artifacts in the same directory. Maybe using a unique temporary folder for each installa

[2020-03-04 17:13] danielthank commented on #547
I had exactly the same issue. I solved it by adding
[code]
in `.sentryclirc`

I god the idea from https://github.com/getsentry/sentry-cli/issues/40

[2020-03-04 22:21] janicduplessis commented on #671
@kamilogorek https://gist.github.com/janicduplessis/61c922f45869a0296b0914254ce9a9de

Not sure if there is a way to get more output but that's what I get from running yarn install --verbose.

[2020-03-05 00:29] lwmouneyrac commented on #632
Hi Dan

Ignite is a RN boilerplate https://github.com/infinitered/ignite from Infinite Red. From memory, Infinite Red arrived quite early in the RN community writing one of the first RN newsletter, organizing RN conferences and they created their boilerplate/cli, and Reactotron who I think preceded the current RN debugger. I believed they were quite popular but maybe it is because I am like a RN d

[2020-03-05 09:37] HazAT commented on #632
@lwmouneyrac Thanks for the explanation, it makes a bit more sense now :)
So if the error is that our Xcode script is not working for RN + TS this could be the case, it could mean that our `run script` needs adjustments to work with TS.

I need some time to figure this out if that's really the case.

[2020-03-05 10:37] kamilogorek commented on #671
I tried to reproduce it today using yarn workspaces with no luck. Unfortunately it's hard to tell what's wrong without being able to consistently reproduce it, but there's definitely some race condition with cached binaries and/or other files.

[2020-03-05 13:00] kamilogorek commented on #163
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:00] #163 closed

[2020-03-05 13:12] kamilogorek commented on #226
Closing the issue, as it seems like the original issue has been resolved.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:12] #226 closed

[2020-03-05 13:28] kamilogorek commented on #335
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:28] #335 closed

[2020-03-05 13:29] kamilogorek commented on #338
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:29] #338 closed

[2020-03-05 13:29] kamilogorek commented on #341
https://github.com/getsentry/sentry-cli/issues/341

[2020-03-05 13:29] #341 closed

[2020-03-05 13:31] kamilogorek commented on #351
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:31] #351 closed

[2020-03-05 13:36] kamilogorek commented on #374
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. I'd prefer someone to create a new issue with a fresh description if it's still an issue.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:36] #374 closed

[2020-03-05 13:37] kamilogorek commented on #375
Closing the issue as there seems to be no viable reproduction of the issue. Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:37] #375 closed

[2020-03-05 13:38] kamilogorek commented on #380
curl is now statically linked and this issue should be resolved. Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:38] #380 closed

[2020-03-05 13:40] kamilogorek commented on #671
@janicduplessis maybe this will help? https://github.com/getsentry/sentry-cli/issues/407#issuecomment-427401385

[2020-03-05 13:40] kamilogorek commented on #407
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:40] #407 closed

[2020-03-05 13:44] kamilogorek commented on #410
Fixed in https://github.com/getsentry/sentry-cli/pull/637

[2020-03-05 13:44] #410 closed

[2020-03-05 13:48] kamilogorek commented on #416
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:48] #416 closed

[2020-03-05 13:50] kamilogorek commented on #414
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:50] #414 closed

[2020-03-05 13:51] kamilogorek commented on #424
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:52] kamilogorek commented on #427
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:52] #427 closed

[2020-03-05 13:54] kamilogorek commented on #421
@ManAnRuck what's the exact problem on CI you're running into?

[2020-03-05 13:55] kamilogorek commented on #430
Correct, this package is registered as `@sentry/cli`.

[2020-03-05 13:55] #430 closed

[2020-03-05 13:57] kamilogorek commented on #439
Closing the issue, as it seems like the original issue has been resolved.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 13:57] #439 closed

[2020-03-05 14:01] kamilogorek commented on #446
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 14:03] kamilogorek commented on #451
Related to/Duplicate of https://github.com/getsentry/sentry-cli/issues/179
Let's track flags related issues there.

[2020-03-05 14:03] #451 closed

[2020-03-05 14:04] kamilogorek commented on #452
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 14:04] #452 closed

[2020-03-05 14:07] kamilogorek commented on #460
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since, as we changed how curl is linked in the binary, and it may have an effect here as well.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 14:07] #460 closed

[2020-03-05 14:09] kamilogorek commented on #462
Logs don't show anything unexpected. There's a large chance that this issue has been solved since, as it was over a year ago. Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 14:09] #462 closed

[2020-03-05 14:10] kamilogorek commented on #463
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 14:10] #463 closed

[2020-03-05 14:19] kamilogorek commented on #274
This feature is already available:

[code]

[2020-03-05 14:28] kamilogorek commented on #492
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 14:28] #492 closed

[2020-03-05 15:06] janicduplessis commented on #671
Yes I think it is installed using sentry/wizard. I'm using yarn noHoist option for sentry (I don't remember exactly why but it fixed some issue I had). I will try to add @sentry/wizard to noHoist too see if it fixes it.

[2020-03-05 15:14] kamilogorek commented on #546
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. I'd prefer someone to create a new issue with a fresh description if it's still an issue.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 15:14] #546 closed

[2020-03-05 15:17] kamilogorek commented on #530
This was caused by the incorrect download progress bar. It's fixed now, and if necessary can bo completely supressed with yarns `--silent` flag or npms `--loglevel silent`

[2020-03-05 15:17] #530 closed

[2020-03-05 15:21] kamilogorek commented on #520
I just verified it (v1.51.1) and couldn't reproduce the issue.

[code]

Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it if there'll be a viable reproduction.

[2020-03-05 15:21] #520 closed

[2020-03-05 15:23] kamilogorek commented on #515
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. I'd prefer someone to create a new issue with a fresh description if it's still an issue.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 15:23] #515 closed

[2020-03-05 15:24] kamilogorek commented on #508
This should be resolved by now, see https://github.com/getsentry/sentry-cli/issues/620#issuecomment-584194880 + commit from Tonyo.

[2020-03-05 15:24] #508 closed

[2020-03-05 15:25] kamilogorek commented on #500
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. I'd prefer someone to create a new issue with a fresh description if it's still an issue.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-05 15:25] #500 closed

[2020-03-05 15:34] julienma commented on #274
@kamilogorek your example works thanks to shell expansion.

Unless something has changed since my previous comment, it's not possible to make **globbing patterns in the [sentry-webpack-plugin](https://github.com/getsentry/sentry-webpack-plugin) `include` config**. See https://github.com/getsentry/sentry-webpack-plugin/issues/125.

[2020-03-05 15:34] janicduplessis commented on #671
Verified and it is not installed via @sentry/wizard. All projects include @sentry/cli in their devDependencies.

[2020-03-05 15:35] janicduplessis commented on #671
I will try to remove the noHoist and only have a single version of the cli in the repo. This should workaround the issue. I checked the code quickly and it is generating a unique file name for downloads but maybe the issue is around caching of the binary since all process would try to access the same file.

[2020-03-05 15:52] kamilogorek commented on #671
Thanks, please get back with the details soon if this issue will still persist

[2020-03-05 15:54] kamilogorek commented on #274
I'll investigate it through webpack-plugin then. Thanks for letting me know.

[2020-03-06 09:57] kamilogorek commented on #560
Sorry for such a long response, it'd be great if someone could provide those types. We can host them here, direclty in the repo :)

[2020-03-06 10:01] kamilogorek commented on #561
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 10:01] #561 closed

[2020-03-06 11:21] #649 closed

[2020-03-06 11:21] #663 closed

[2020-03-06 12:50] kamilogorek commented on #666
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 12:50] #666 closed

[2020-03-06 13:01] kamilogorek opened #676 "Provide binary for ARM"
ref: https://github.com/getsentry/sentry-cli/issues/592

[2020-03-06 13:01] kamilogorek commented on #592
Created an issue for this https://github.com/getsentry/sentry-cli/issues/676

[2020-03-06 13:01] #592 closed

[2020-03-06 13:18] kamilogorek commented on #491
https://docs.sentry.io/cli/configuration/

![image](https://user-images.githubusercontent.com/1523305/76086863-4637c200-5fb5-11ea-95a2-2adb3bf83d0f.png)

[2020-03-06 13:34] kamilogorek commented on #479
Updated https://github.com/getsentry/sentry-docs/pull/1534/files

[2020-03-06 13:34] #479 closed

[2020-03-06 13:38] kamilogorek commented on #482
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. I'd prefer someone to create a new issue with a fresh description if it's still an issue.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:38] #482 closed

[2020-03-06 13:46] kamilogorek commented on #505
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:46] #505 closed

[2020-03-06 13:47] kamilogorek commented on #514
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:47] #514 closed

[2020-03-06 13:49] kamilogorek commented on #516
Docs reference `app.js` which is in the repo, so it should work just fine - https://docs.sentry.io/platforms/react-native/expo/
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:49] #516 closed

[2020-03-06 13:51] kamilogorek commented on #517
Please refer to: https://docs.sentry.io/platforms/react-native/manual-setup/#ios
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:51] #517 closed

[2020-03-06 13:52] kamilogorek commented on #518
Closing the issue, as it seems like the original issue has been partially resolved or there is a working solution. I'd prefer someone to create a new issue with a fresh description if it's still an issue.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:52] #518 closed

[2020-03-06 13:53] kamilogorek commented on #522
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since, as we made a lot of changes around the files upload.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:53] #522 closed

[2020-03-06 13:53] kamilogorek commented on #526
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 13:53] #526 closed

[2020-03-06 13:54] kamilogorek commented on #531
Duplicate of https://github.com/getsentry/sentry-cli/issues/458

[2020-03-06 13:54] #531 closed

[2020-03-06 14:00] kamilogorek commented on #536
Already fixed in October https://github.com/getsentry/sentry-cli/blob/39da2f7f8102f7f9b5ddf83b0de89344d9016789/src/utils/releases.rs#L93-L105

[2020-03-06 14:00] #536 closed

[2020-03-06 14:06] kamilogorek commented on #664
It's not possible to just use DSN, as it's not able to authenticate the user/machine. We're working on org-wide tokens. Closing this in favor or https://github.com/getsentry/sentry-cli/issues/581

[2020-03-06 14:06] #664 closed

[2020-03-06 14:34] kamilogorek commented on #582
Fixed in https://github.com/getsentry/sentry-cli/pull/677
Unfortunately we won't log an info about `.env` being logged, as it'd skip `--log-level` setup, due to loading order.

[2020-03-06 14:34] #582 closed

[2020-03-06 14:36] kamilogorek commented on #568
Already implemented: https://github.com/getsentry/sentry-cli/blob/39da2f7f8102f7f9b5ddf83b0de89344d9016789/js/releases/index.js#L61-L82

[2020-03-06 14:36] #568 closed

[2020-03-06 14:37] kamilogorek commented on #567
Fixed in https://github.com/getsentry/sentry-docs/pull/1534

[2020-03-06 14:37] #567 closed

[2020-03-06 14:48] kamilogorek commented on #566
Fixed in https://github.com/getsentry/sentry-cli/pull/678

[2020-03-06 14:48] #566 closed

[2020-03-06 14:49] kamilogorek commented on #565
Cannot reproduce it locally. Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it. Cheers!

[2020-03-06 14:49] #565 closed

[2020-03-06 14:50] kamilogorek commented on #564
Are you able to provide a repro case for this issue?

[2020-03-06 14:51] kamilogorek commented on #562
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 14:51] #562 closed

[2020-03-06 14:51] kamilogorek commented on #564
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 14:51] #564 closed

[2020-03-06 15:28] kamilogorek commented on #655
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 15:28] #655 closed

[2020-03-06 15:35] kamilogorek commented on #644
Extensions are always defined with a single string prefixed with a dot. In order to include one, but ignore the rest, use `--ignore`, eg.

[code]

Cheers!

[2020-03-06 15:35] #644 closed

[2020-03-06 15:42] kamilogorek commented on #631
It has to be written as `sentry-cli releases --org myorgname list`

There's an issue to track progress on changing this behavior https://github.com/getsentry/sentry-cli/issues/179

[2020-03-06 15:42] #631 closed

[2020-03-06 15:43] kamilogorek commented on #626
It should be `CodePush`, docs fix pending https://github.com/getsentry/sentry-docs/pull/1534

[2020-03-06 15:43] #626 closed

[2020-03-06 15:50] kamilogorek commented on #621
I'm not sure exactly what you want to achieve. Using docker sounds like an overkill here. You can use `getsentry/sentry-cli` docker container, sure, but it'd also require mapping filesystem to be able to read all the bundles.

[2020-03-06 15:52] kamilogorek commented on #615
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 15:52] #615 closed

[2020-03-06 15:53] kamilogorek commented on #608
I just verified it locally and it installs just fine when using versions you provided. Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 15:53] #608 closed

[2020-03-06 15:57] kamilogorek commented on #413
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 15:57] #413 closed

[2020-03-06 16:00] kamilogorek commented on #454
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 16:00] #454 closed

[2020-03-06 16:01] kamilogorek commented on #469
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-06 16:01] #469 closed

[2020-03-06 17:01] janicduplessis commented on #671
I can confirm the issue doesn't happen anymore when not hoisting @sentry/cli

[2020-03-06 17:47] DannyFedor opened #679 "set-commits --auto inside REMOTE repository"
**Situation**
My organization is using self hosted Gitlab instance (v12.8.2-ce) integrated with self hosted Sentry.
I wish to write a post-receive hook which would automatically create a new releases in Sentry after receiving a correctly formatted tag and automatically assigning commits to it. In order to do so I would like to run sentry-cli inside the said remote Gitlab repository.

**Issue**
The

[2020-03-06 20:05] kamilogorek commented on #671
Awesome, thanks!

[2020-03-06 20:05] #671 closed

[2020-03-07 03:53] Zaynex opened #680 "sentry-cli should use lowercase for org params"
Hi, I report a bug about `sentry-cli`:

Steps:
1. I create a new org named `Youdao` and and project named `youdao-meet`

2. I upload debug files then show error message🤔
[code]

I saw the debug info is
[code]

The reason is :

https://sentry.youdao.com/api/0/projects/Youdao/youdao-meet/files/dsyms/unknown/?checksums=dc5f062310c3e8d29a1f654207b418e323d3d861

**Youdao** capitalized the first letter,

[2020-03-07 03:58] Zaynex commented on #680
I mess up project name and display name 😭

[2020-03-07 03:58] #680 closed

[2020-03-09 09:39] kamilogorek commented on #458
I wasn't able to reproduce the original issue. Feel free to ping me if someone is able to provide a repro case.

![image](https://user-images.githubusercontent.com/1523305/76200588-31943d80-61f2-11ea-8059-f33cb37a4a93.png)

Also regarding incorrect config file logging, there's already a PR - https://github.com/getsentry/sentry-cli/pull/677

[2020-03-09 09:39] #458 closed

[2020-03-09 11:05] #461 closed

[2020-03-09 12:46] HazAT commented on #632
I moved this issue to the RN repo

[2020-03-09 13:01] kamilogorek commented on #588
Just verified it locally and everything seems to work just fine now.

![image](https://user-images.githubusercontent.com/1523305/76215154-657d5c00-620e-11ea-998d-1966b79da9fd.png)

[2020-03-09 13:01] #588 closed

[2020-03-09 13:13] kamilogorek commented on #498
Just verified it locally and everything seems to work just fine now (checked with `ba*` vs. `!bar*` as well).

![image](https://user-images.githubusercontent.com/1523305/76215927-fd2f7a00-620f-11ea-944b-7ef82e7abbdb.png)

[2020-03-09 13:13] #498 closed

[2020-03-09 13:36] kamilogorek commented on #406
Just verified it locally using webpack-plugin and everything seems to work just fine. Let me know if it's still an issue and I'll work on it if provided more details or a repro case.

![image](https://user-images.githubusercontent.com/1523305/76217687-29002f00-6213-11ea-8c4c-5529c25ad723.png)

[2020-03-09 13:36] #406 closed

[2020-03-09 13:44] #278 closed

[2020-03-09 15:37] scefali commented on #581
@syabro Sorry for a lack of response the past few months. Organization tokens have since been released. You can manage org tokens using an internal integration. See the docs here: https://docs.sentry.io/workflow/integrations/integration-platform/#using-auth-tokens. If you have any further questions, please let me know (and please @ me so I get a notification :) ).

[2020-03-09 19:17] Draichi commented on #364
+1

[2020-03-10 03:37] lightninglu10 commented on #508
@kamilogorek I'm still getting this error on "@sentry/cli": "^1.51.1".

I tried on a node:slim image as well and am getting:

[code]

Any idea what's up?

[2020-03-10 08:04] kamilogorek commented on #508
@lightninglu10 can you provide your Dockerfile?

[2020-03-10 08:11] lightninglu10 commented on #508
[code]

Where yarn run sentry runs a node.js file

[code]

[2020-03-10 11:16] #581 closed

[2020-03-11 08:23] vitalets commented on #644
Ок, thanks! It would be great to mention in [cli docs](https://docs.sentry.io/cli/releases/#sentry-cli-sourcemaps).

[2020-03-11 13:53] alubina commented on #445
For the sake of privacy I masked repository name with `organization/application` and
 have similar issue. I associate commits 'by hand' with
`sentry-cli releases set-commits --commit "organization/application@3.135.0..3.136.0" 3.136.0 --log-level=DEBUG`
The output looks as follows:
`
| organization/application | f5028540c840 -> 91d80fcc9935 |
`
Commit hashes are real, but the commits list remains

[2020-03-12 07:15] momoAI opened #684 "The dsym files upload was successful, but the debug information files for the project were empty"
I'm trying to upload dsym files to our self-hosted sentry. dSYMs is the .xcarchive file.

Tried with upload-dsym and upload-dif and getting same result.

We are using sentry v9.1.2 and sentry-cli 1.51.1

Command I'm using is
`export SENTRY_URL=http://sentry.MY_DOMAIN.com
sentry-cli --auth-token API_TOKEN  upload-dif --org sentry --project ios DSYM_PATH`

And getting result:

`[13:25:56]: Starting

[2020-03-12 22:08] kamilogorek commented on #669
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers

[2020-03-12 22:08] #669 closed

[2020-03-12 22:09] kamilogorek commented on #641
Is there a chance that you could mail the affected file to kamil@sentry.io? Thanks!

[2020-03-12 22:09] kamilogorek commented on #621
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers

[2020-03-12 22:09] #621 closed

[2020-03-12 22:11] kamilogorek commented on #638
Is there a chance that you could mail the affected files to kamil@sentry.io? Thanks!

[2020-03-16 14:18] ValentinH opened #686 "Cannot run "releases files" with release name starting with "list...""
I've noticed that when I run the following command:

[code]

with `VERSION=listing-form@123`,

I get the following error:

[code]

I guess that this is because my VERSION string starts with "list".

[2020-03-17 11:43] kamilogorek commented on #686
Thanks! Can confirm that it's an issue with parsing args by `clap`. We'll get it fixed soon.

[2020-03-17 12:50] islamhamdi commented on #486
@econner do sourcemaps urls still show as `//# sourceMappingURL=index.js.map`? or with another correct path?

[2020-03-17 12:59] kamilogorek commented on #686
Reported directly to `clap-rs` repo: https://github.com/clap-rs/clap/issues/1750

[2020-03-18 13:16] kamilogorek commented on #684
Can you run these commands with `--log-level=debug` and provide the output please?

[2020-03-18 13:50] momoAI commented on #684
@kamilogorek ,thanks
debug info:

   DEBUG   request GET https://sentry.fooww.com/api/0/organizations/fooww/chunk-upload/
  DEBUG   using token authentication
  DEBUG   retry number 0, max retries: 0
  DEBUG    > GET /api/0/organizations/fooww/chunk-upload/ HTTP/1.1
  DEBUG    > Host: sentry.fooww.com
  DEBUG    > Accept: */*
  DEBUG    > Connection: TE
  DEBUG    > TE: gzip
  DEBUG    > User-Agen

[2020-03-19 09:27] kamilogorek commented on #508
Unfortunately provided code isn't enough to reproduce the issue. I need a valid repro case for this to investigate.

[2020-03-19 10:20] kamilogorek commented on #445
Can you provide your org/project where you configured it? And preferably `--log-level=debug` output as well.

[2020-03-19 11:43] kamilogorek commented on #641
Closing the issue due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-19 11:43] #641 closed

[2020-03-19 11:43] kamilogorek commented on #638
Closing the issue due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-19 11:43] #638 closed

[2020-03-19 12:37] kamilogorek commented on #372
Is this still a thing that `label` changes between staging/production? I cannot find any reasonable information about that in codepush documentation.
I'll close the issue due to it being outdated, but please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-03-19 12:37] #372 closed

[2020-03-20 08:49] sseyod opened #691 "Windows 10 C++ Store App - how to upload PDB files?"
Thanks to your help, I now have my Windows 10 Store C++19 app built with Sentry Native linked-in, and I am able to send basic information to sentry.io., where I can use the website to verify that the Sentry connection is basically working. Thank you!

However, I cannot figure-out how to upload the app's pdb files. Can anybody advise?

Note that if I can't complete this step, then the sentry native

[2020-03-20 12:55] jan-auer commented on #691
This is strange. Usually, this line indicates that your Sentry server does not support PDBs, which is the case for older Sentry on-premise installations:

Could you please add `--log-level=debug` and paste the output?

[2020-03-20 13:04] sseyod commented on #691
Hi @jan-auer,

I've just mailed you the log (via your GitHub contact mail). Please let me know if it doesn't get through!

With best wishes,

Pete

[2020-03-20 13:09] jan-auer commented on #691
@sseyod Thanks for sending the log. I see the issue now :)

Please configure your organization _slug_, not the organization _name_. In your case, this is the same, except the slug is all lowercase. This should fix your issue. This slug leads to a 404, which in your specific case makes sentry-cli believe that it's talking to an old Sentry instance.

@kamilogorek how would you feel about adding a fe

[2020-03-20 13:43] sseyod commented on #691
Hi @jan-auer,

Wow - I'm amazed by how responsive you are. A great experience - makes me even more happy to help you out with this :)

Thanks for explaining the meaning of "slug" is. For anybody else reading this, that is the "Name" field (a lowercase string) in the web console for Organisation details - I was using the Display name, which was the same string but with a different case (and hence i

[2020-03-20 13:57] sseyod commented on #691
Hi @jan-auer,

If I might submit a feature request - it would be great if I could upload a pdb file via the browser; in a similar way to how debug symbols can be loaded in App Center (or, indeed, binaries are uploaded to the Microsoft Store). That would be a more convenient way for me; but I appreciate of course that others will much prefer the command line tool route (especially if they're rely o

[2020-03-20 13:58] #120 closed

[2020-03-20 14:23] jan-auer commented on #691
Noted, thanks. We're looking into improving the experience around debug files again and can consider this. As you mentioned, this is definitely not the regular case, but I can totally see how this makes it easier to test out smaller builds.

[2020-03-20 14:41] jan-auer commented on #691
Sorry, I missed your prior question:

You can can specify the project like this:

[code]

The same goes for the organization slug with `--org|-o`. See `sentry-cli upload-dif --help` for a description of these parameters.

[2020-03-20 14:47] sseyod commented on #691
@jan-auer Thank you!

My remaining problem now is that I'm not seeing any crashes reported in the Browser.

I must admit that I'm not sure where to look to resolve this...

NB I'm provoking a crash in response to a menu item within the app, which calls this code:

[code]

The app does indeed crash as expected, but for the avoidance of doubt, I see no report about this on the sentry.io website.

Be

[2020-03-20 14:52] jan-auer commented on #691
Since I moved this ticket to `sentry-cli` since this was originally about uploading symbols -- would you mind to open a new issue in `sentry-native` again, so we can start tracking this there? Also, you can enable debug logs in the SDK using `sentry_options_set_debug`, which might give us a hint at what's going on. Thanks!

[2020-03-20 14:53] sseyod commented on #691
OK, thanks, will do! Pete

[2020-03-20 16:23] sseyod commented on #691
@jan-auer have done! Pete

[2020-03-20 16:51] #691 closed

[2020-03-20 19:18] mediafreakch commented on #451
Just run into this. It's very odd that you need to define a project name when creating releases, but cannot pass one on cli options when uploading sourcemaps... Neither the cli help nor the docs mention this!

For anyone else that comes along. This combination works:
- `export SENTRY_PROJECT=yourproject`
- `export SENTRY_AUTH_TOKEN=authtoken`
- `sentry-cli releases -o your-organization new 1.4.0 -

[2020-03-20 19:23] j-fro commented on #372
@kamilogorek This is still an issue for my team at least. The `label` does change between environments (since it's sequential, and only some of our releases get promoted past our test environment).

Being able to override the entire release name would work for my use case as we use our own consistent versioning system in CodePush release's `description`.

[2020-03-21 15:02] kamilogorek commented on #451
Releases are scoped per project, so they don't need to be unique across the whole organization.

[2020-03-21 18:43] kamilogorek commented on #451
You can pass it with `-p` or `--project` flag:

[code]

Releases are scoped per organization, so they need to be unique across the whole organization. We recommend prefixing your releases with the `<project name>@<version>`

[2020-03-23 19:42] olsh opened #694 "For non git repositories explicit revisions are required"
I'm trying to use the [BitBucket Server Integration](https://docs.sentry.io/workflow/integrations/global-integrations/#bitbucket-server)
But when I try to use sentry-cli for [commit integration](https://docs.sentry.io/cli/releases/#sentry-cli-commit-integration) I get the error. Here is the full log.

[code]

[2020-03-23 22:51] airman00 commented on #372
@j-fro Excellent PR!

How do I actually go about using this latest version of sentry-cli @ master? Do you yarn install sentry-cli@master? Or something else?

Hoping to use your `--release` feature with the React Native SDK so I can finally upload source maps for CodePush `https://github.com/getsentry/sentry-react-native`

[2020-03-24 06:29] kamilogorek commented on #372
@airman00 I'll release new version later Today :)

[2020-03-24 13:18] kamilogorek commented on #694
You need to tell `sentry-cli` what are the commits that you want to track, as you are (as error says) not in git repository.

See: https://docs.sentry.io/cli/releases/#sentry-cli-commit-integration

[2020-03-24 13:23] olsh commented on #694
Hi @kamilogorek,

Well, actually, I'm in a git repository, I can execute `git status` and other commands git commands.

[2020-03-24 14:13] kamilogorek commented on #694
@olsh I just realized that I forgot to release a recent change that introduced `bitbucket_server` to the list of supported VCSs... 😅I'll do that once Travis is back up - https://www.traviscistatus.com/
Will ping you once it's done! :)

[2020-03-24 16:44] kamilogorek commented on #694
Released in `1.52.0`. Cheers! :)

[2020-03-24 16:44] #694 closed

[2020-03-24 16:44] kamilogorek commented on #372
Released in `1.52.0`

[2020-03-25 06:10] kkdev163 opened #695 "[1.52.0] mkdirp 1.0.0 only support node >= 10"
sentry-cli update the version mkdirp to '^1.0.0' in the release of 1.52.0, which is only supporting node >=10. [issue](https://github.com/isaacs/node-mkdirp/issues/10)

this causes some people can't install in the lower version node.

[2020-03-25 09:04] kamilogorek commented on #695
`mkdirp 1.0.0` patched a vulnerability issue described here https://github.com/getsentry/sentry-cli/pull/685 and it's no longer supported by the author:

See: https://www.npmjs.com/package/mkdirp/v/0.5.4

If you still want to use old version, you can use `yarn` and force the old`mkdirp` version `0.5.4` using selective version resolution - https://classic.yarnpkg.com/en/docs/selective-version-resol

[2020-03-25 20:37] LinusU commented on #695
Sentry-cli currently declares that it supports Node.js 8.x though:

https://github.com/getsentry/sentry-cli/blob/6d9ba9f3e3f061839735e986839d8935672e6121/package.json#L52-L54

I think that a better approach would be to downgrade the dependency to `^0.5.4` for the 1.x release line, since upgrading to 1.x is a breaking change (since it drops support for Node.js 8)

[2020-03-26 06:40] kamilogorek opened #696 "Upgrade mkdirp to 1.0.0, as they drop support for 0.x"
It requires dropping support for Node 8 at the same time.
Node 8 is already at the end of life anyway and we should discourage it's usage - https://nodejs.org/en/about/releases/

[2020-03-26 06:41] kamilogorek opened #697 "Upgrade mkdirp to 1.0.0"
Upgrade `mkdirp` package to `1.0.0`, as they drop support for `0.x`.
It requires dropping support for Node 8 at the same time.
Node 8 is already at the end of life anyway and we should discourage its usage - https://nodejs.org/en/about/releases/

[2020-03-26 06:43] kamilogorek opened #698 "Upgrade mkdirp to ^1.0.0"
Upgrade `mkdirp` package to `^1.0.0`, as they drop support for `0.x`.
It requires dropping support for Node 8 at the same time.
Node 8 is already at the end of life anyway and we should discourage its usage - https://nodejs.org/en/about/releases/

[2020-03-26 06:44] kamilogorek commented on #695
Fair enough. Patched here https://github.com/getsentry/sentry-cli/pull/699 and created a separate issue to keep track of it.

[2020-03-26 06:59] aaharu commented on #695
How about using [make-dir](https://www.npmjs.com/package/make-dir)

[2020-03-26 08:25] kamilogorek commented on #695
@aaharu starting node 10, we can just use `mkdirSync('', { recursive: true });`

[2020-03-27 17:27] thomasheartman opened #701 "set-commits fails intermittently"
Hi!

First off, not sure whether this goes to the community forums or here, but the more I flesh this out, the more it feels like a bug. Feel free to tell me otherwise if you disagree.

# Problem

I've got an issue where the `set-commits` command of the Sentry-CLI fails fairly often, but not always. We run it from CI on our self-hosted GitLab server, and this goes both for the pure CLI version and

[2020-03-29 20:39] marandaneto opened #702 "Add a file/dir. path argument to send-event command"
It'd be nice to be able to send raw events through sentry-cli.
Right now I'm using either postman or CURL.

Ideally the command `send-event` takes an argument that can be a path to a file or dir.
If it's a dir., reads it recursively.
These files are raw events (as JSON) and ready to be sent.

Why is that useful?
Think about offline Apps. that are not able allowed to know the external world, but la

[2020-03-29 20:44] marandaneto opened #703 "Add a send-envelope command"
Very similar to `send-event`, but for envelopes.
As we move slowly towards envelopes, it'd be nice to be able to send envelopes through sentry-cli.

Also, it'd be very useful if we could read and send raw events from a file/dir. (See #702)

[2020-03-30 08:15] kamilogorek commented on #701
Hey. cURL error code 56 means that there was a problem with the server itself, not the client/receiver, see: https://curl.haxx.se/libcurl/c/libcurl-errors.html

[code]

Thus it's the issue with misconfigured on-prem instance and not the CLI itself.
I'll move the issue to https://github.com/getsentry/sentry/ repository and please ask there.

Also, running with `--log-level=debug` or `[log] level =

[2020-03-30 09:20] #695 closed

[2020-03-30 11:53] jan-auer commented on #703
Would that be by sending an envelope file, or generate one on the fly? For comparison, `send-event` doesn't send an existing JSON file, but composes it from command line arguments.

[2020-03-30 13:07] marandaneto commented on #703
@jan-auer I see that as being able to send a raw envelope and not generating one on the fly, the reason would be the same as #702

I'd say that being able to generate an envelope on the fly is also a feature request, as we might want to send eg a session, that can't be done by any other command through.

We could extend the description of this issue or create a new one :)

[2020-03-31 22:51] bsergean opened #704 "Add batch upload option for 'release' command to send multiple source files at once"
This was discussed offline with @jan-auer.

Currently we have to execute this for thousand of files:

[code]

We would like to be able to pass a folder name, or a zip file, or a 'command file', or a list of files from stdin, ..., or whatever you guys think is best to this command.

In our case, if the input is a directory name, we would want that directory name to be stripped.

[2020-04-02 14:46] florian-milky opened #705 "Incorrect release build number when uploading source maps"
Hello!
I have an issue with the release build number when uploading source maps. I am using react native `@sentry/react-native`

[code]
Instead of +1 it should be +_build-number_
How can I fix that?

[2020-04-02 15:43] florian-milky commented on #705
In runtime time the release name has the correct build number coming from AppCenter (I don't know how).
I don't set any release name explicitly.

- How do I set the release name at build time?
- What is the default release name at runtime?
- How do I debug ios build? It doesn't have this log with the release name it's uploading to.

[2020-04-02 16:00] florian-milky commented on #705
Ok wrong repo

[2020-04-02 16:00] #705 closed

[2020-04-03 03:31] mazafak commented on #672
the binary builds properly without changes. all that needs to be done is:
- binary uploaded to https://downloads.sentry-cdn.com/sentry-cli/
- referenced in https://github.com/getsentry/sentry-cli/blob/master/scripts/install.js#L45

[2020-04-03 08:28] vitalyiegorov commented on #508
The same problem as @lightninglu10 faced - working loccaly on OSX, but does not work in docker(tried node:10-alpine image also):

[code]

Running sentry-cli from PATH works as expected, but running througt node returns:
`/app/node_modules/@sentry/cli/sentry-cli: 1: /app/node_modules/@sentry/cli/sentry-cli: Syntax error: end of file unexpected (expecting ")")
`
I guess there is something with `node

[2020-04-03 11:27] kamilogorek commented on #672
Thanks for the valuable feedback @mazafak! I'll try to add it once I find some spare time :)

[2020-04-03 14:54] oswaldofreitas commented on #672
@kamilogorek I'm also looking forward to this change, thank you in advance for applying @mazafak suggestion, it will be a great value for us since we can't upload sourcemaps with the webpack plugin from FreeBSD currently

[2020-04-05 13:05] zhangdingding opened #706 "Upload source maps to sentry server, always returns an error 502: "API request failed""
I'm using `sentry-webpack-plugin` to upload my javascript source maps, but I always get the following 502 error messages:

[code]

I've tried again several times, the results are all the same. I've tried to modify various configurations, both client and server configurations. I don't know why it happens again and again.

I built my own sentry server via [onpremise](https://github.com/getsentry/onp

[2020-04-06 06:01] Shottakon opened #711 "Can't upload files in linked directories."
I tried to install this, and deploy.

I wrote to `webpack.config.js` like below.
[code]
And budled files are under `./public/packs/`.

On local env, it works correctly.

But on production env, where `./public/packs` is linked to `shared/public/packs`, it doesn't work.
How should I do to work it?

[2020-04-06 11:55] notjosh commented on #615
fwiw, for anyone stumbling on this later, updating (from `1.49.0` to `1.52.1` in my case) fixed the issue on Catalina

[2020-04-07 09:12] HazAT commented on #577
The latest version of `@sentry/react-native` sends
`bundleID+build` as a format so e.g:
`io.sentry.bla+1337` as the release.

This shouldn't be changed and the reason is our new Release Health feature https://forum.sentry.io/t/mobile-release-health/9248 which relies on that format for multiple reasons.

What should be changed is that we need to set these values:
[code]
into `dist`.

Therefore the

[2020-04-07 11:11] azmeuk commented on #424
I am currently writing some automated scripts to install sentry in a development virtual machine. I really miss the ability to create and manage organizations and projects.
Maybe this bug report is still relevant @kamilogorek?

[2020-04-07 11:23] azmeuk opened #707 "Systemwide .sentryrc file"
Hi.
This would be very useful in some cases to have a systemwide `.sentryclirc` file. Maybe `/etc/sentryclirc`?
This way, all users can share a configuration. Plus this makes it a lot easier to configure sentrycli dynamically with tools like ansible.

What do you think?

[2020-04-07 18:10] azmeuk opened #708 "Manage organizations with sentry-cli"
This bug report is similar to #424
When deploying sentry programatically (with ansible for instance), it would be really nice to be able to manage organizations.
Here is a scenario where I could have used such a feature.
- deploy sentry with ansible
- rename the default organization with sentry-cli
- install [sentry-auth-ldap](https://github.com/Banno/getsentry-ldap-auth) and configure the `AUTH_L

[2020-04-08 19:53] boennemann commented on #577
You say _shouldn't_ here, but the original issue reported is that we *can't* in the first place.

Also can you elaborate more on this `dist` field?

Are you familiar with promoting CodePush builds through environments?
The bundleId is not necessarily constant for any given jsbundle, as the jsbundle might be promoted or uploaded to a different CodePush environment.
This environment might have a com

[2020-04-09 12:52] alubina commented on #445
There was an issue with repository permissions. Sorry for the noise I made

[2020-04-09 13:25] kamilogorek commented on #424
I'll reopen this issue, however we don't have enough capacity recently to take care of this right away, sorry.

[2020-04-09 15:11] Mathieu-Castets opened #712 "Weird display of version name"
Hi,

I have been using `sentry-cli` to release versions since a few months. Our release name has always been of format `project@version` where `version` looks like`major.minor.patch.build`.

We've started experiencing a weird bug since our minor version number started to be made up of 2 digits (but it might not be related).

For instance, on the Releases menu, version is no longer correct: `2.37.0

[2020-04-09 17:49] kamilogorek commented on #712
Hey @Mathieu-Castets, can you provide a link to an example event? It'll definitely be helpful here.

[2020-04-10 08:34] Mathieu-Castets commented on #712
Sure.
https://sentry.io/organizations/izivia/issues/1604644497

[2020-04-10 09:10] kamilogorek commented on #712
@Mathieu-Castets we recently introduced a unified release parsing mechanism, which can be found in detail here: https://github.com/getsentry/sentry-release-parser
In your case, the format should be `major.minor.patch+build` to be displayed in human-readable format (it still works fine from technical standpoint right now).

[2020-04-10 10:04] Mathieu-Castets commented on #712
OK thanks for the feedback. I'll give it a try in the next release.

[2020-04-10 10:04] #712 closed

[2020-04-13 01:36] tclindner opened #713 "Feature: Add Node.js API for creating a deployment"
First, thank you for all of your hard work on this library 🎉

I’m currently leveraging `@sentry/cli` to create [`sentry-releases-action`](https://github.com/tclindner/sentry-releases-action). I can do everything via the Node.js API except creating a deployment. To do that I’m leveraging the [cli binary](https://github.com/tclindner/sentry-releases-action/blob/master/src/create-release.js#L34). It

[2020-04-13 19:51] Alexandero89 commented on #676
Would really appreciate a binary for ARM.

Raspberry 4 with 4 Gig RAM and SSD should work fine with Sentry.

[2020-04-14 12:30] Shivang-Bhandari opened #716 "uploading sourcemaps throws error: `thread 'unnamed' panicked at 'index out of bounds'`"
- [x] Review the documentation: https://docs.sentry.io/
- [x] Search for existing issues: https://github.com/getsentry/sentry-javascript/issues
- [x] Use the latest release: https://github.com/getsentry/sentry-javascript/releases
- [x] Provide a link to the affected event from your Sentry account (not an event-based issue)

## Package + Version

- [x] `@sentry/browser`
- [ ] `@sentry/node`
- [ ] `

[2020-04-15 06:36] tiyunchen commented on #706
小文件我就传上去了，我的source map 也是100M,然后就炸了

[2020-04-15 06:36] tiyunchen commented on #706
I uploaded the small file, my source map is also 100M, and then it exploded

[2020-04-15 07:57] tiyunchen commented on #706
[code]

[2020-04-15 07:58] tiyunchen commented on #706
[code]

[2020-04-22 08:57] tbergq opened #717 "Failure on CI after 1.52.2 was released"
Hi 👋

We started receiving errors on our CI after the `1.52.2` version was released. Setting version to `1.51.1` and it works.

<img width="853" alt="Screenshot 2020-04-22 at 10 55 11" src="https://user-images.githubusercontent.com/7705041/79962178-099e2800-8488-11ea-8e8d-2a591a328b5c.png">

[2020-04-22 09:25] kamilogorek commented on #717
@tbergq aw snap. I'll fix this asap. Should be patched in ~20min.

[2020-04-22 09:51] kamilogorek commented on #717
Fixed and released as `1.52.3`. Sorry for the inconvenience.

[2020-04-22 09:51] #717 closed

[2020-04-22 09:52] tbergq commented on #717
No worries, thanks for the quick fix 🙂

[2020-04-23 08:13] kamilogorek commented on #713
Hey @tclindner, that's definitely possible. Although, I don't have enough free time to implement it right now. I'm more than happy to help ship a PR for this though, so feel free to reach out.

Ref webpack plugin: https://github.com/getsentry/sentry-webpack-plugin/issues/184

[2020-04-25 11:12] nsyujian opened #719 "react-native ram-bundle with metro preloadedModules Source code was not found"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

Platform:
- [x]  iOS
- [x]  Android

SDK:
- [x]  `@sentry/react-native`
- [ ]  `react-native-sentry`

SDK version: 1.3.7
`react-native` version: 0.59.8

Are you using Expo?
- [ ]  Yes
- [x]  No

Are you using sentry.io or on-premise?
- [x]  sentry.io (SaaS)
- [ ]  on-premise

Configuration:

[code]

---
I have following issue:
ram-bundle with  preloade

[2020-04-27 19:18] matt-savvy opened #721 ""update to 1.52.1" message in version 1.52.3"
Using version 1.52.3, but getting the following message
`sentry-cli update to 1.52.1 is available!`

[code]
Installed via brew.
[code]

[2020-04-28 16:14] ARamy23 opened #722 "Uploading dSYM through fastlane succeed but no dSYM files are shown in the debug files section"
We're using a self-hosted sentry instance and we use it to report issues on a native iOS project
some of these reports come with redacted reports and not showing anything useful
so I tried to upload the dSYM files through Fastlane by using the following lane
[code]

it uploads successfully but when I go to Project>Settings>Debug Files I can't see the files there

[2020-04-29 04:20] someguynamedmatt opened #723 "`releases` requiring `--org`, but fails when argument is passed"
`sentry-cli`: `1.52.3`
`MacOS`: `10.14.6`

I'm following the [documentation](https://docs.sentry.io/workflow/releases/?platform=javascript#create-release) to create releases, but it won't accept the args I'm passing. Specifically, it's complaining that I'm not passing an `org`, so I try that with (as suggested) `--org`. It will then throw an error saying it doesn't recognize the option:

[code]

[

[2020-04-29 07:01] jan-auer commented on #723
This is because the argument is given in the wrong place. It should be:

[code]

[2020-04-29 16:08] someguynamedmatt commented on #723
Ah, okay. That does seem to work for me. However, I'm confused because [in config.rs](https://github.com/getsentry/sentry-cli/blob/121f1b75e468f21378b2993e369b762f2c05ddf1/src/config.rs#L274) it appears that it should be reading it from the `env` var `SENTRY_ORG`, which is set in my case.

Can the documentation to be made more clear to help future users out?

Thanks for taking the time clarify!

[2020-04-29 18:57] jan-auer commented on #723
That's right. For me it also does work, at least when I invoke like this:

[code]

To test this, I've removed the `org=` key from my `.sentryclirc` to ensure there's nothing configured. Even without removing, the environment takes precedence. Does this not work in your case?

Definitely. What part of the documentation can we extend, or where would you expect this? We have the [Working with Project

[2020-04-30 09:27] kamilogorek commented on #721
Fixed, thanks for the report!

[2020-04-30 09:27] #721 closed

[2020-04-30 18:11] someguynamedmatt commented on #723
@jan-auer Okay. I figured out why my env var wasn't being picked (TL;DR: I didn't `export` the var in my shell).

As for the documentation, at the very least a link to that [Working with Projects](https://docs.sentry.io/cli/configuration/#sentry-cli-working-with-projects) page would be immensely helpful somewhere on the [Releases](https://docs.sentry.io/workflow/releases/?platform=javascript#creat

[2020-05-01 00:41] mitsuhiko commented on #722
This might be a misconfiguration on the server side. Caches are essential for debug file upload. Can you verify they are configured?

[2020-05-05 16:07] emanuelpinho opened #725 "Upload hidden sourcemaps"
I'm trying to upload sourcemaps generated by webpack to sentry using sentry-cli.

I am getting a couple of different errors but didn't get what the cause is.

This is the configuration I am using to build and create hidden source maps. I don't want them to be available on the browser.

[code]

Seems like the generated files are being created correctly since I can serve them without any problem (do

[2020-05-06 07:18] Mathieu-Castets commented on #712
I can confirm using the format `major.minor.patch+build` resolved this issue.

[2020-05-06 19:30] #723 closed

[2020-05-07 10:01] Snack-X opened #726 "Suppressing npm install fetch progress output"
Though it can be suppressed with npm's `--loglevel silent` flag(#530), I don't want it to be completely silent.

Among the [level of logs in npm](https://docs.npmjs.com/misc/config#loglevel), it is definitely not an error nor a warning. It could be at a notice level.

Maybe `SENTRY_NO_PROGRESS_BAR` flag?

[2020-05-07 13:59] SimonGolms opened #727 "Error: unexpected end of file when fetching sentry-cli-Linux-x86 on Jenkins via npm"
From time to time our CI builds via Jenkins fail because sentry-cli cannot be unpacked correctly.

- Node: v12.16.2
- npm: 6.14.4

Have I forgotten anything or is there a possibility of a more detailed error description?

[code]

[code]

[2020-05-08 20:33] zanechua opened #728 "Feature: Token based auth for appcenter cli"
Would like the Ability to add token to the appcenter command to retrieve sourcemaps from appcenter and publish them onto sentry.

Right now the sentry cli is dependent on the appcenter cli having logged in. However this doesn't work well in build runners especially shared ones because they can share an environment. Ideally we pass the tokens into the sentry cli and every single part of it will be

[2020-05-09 04:15] zanechua opened #729 "error: Could not find plist"
[code]

Getting this for the latest release.

[2020-05-11 09:58] kamilogorek commented on #725
Do you associate the same `release` with the `Sentry.init` call from the JS SDK? It seems like your Sentry instance is trying to fetch the files from an external source, instead of a local filesystem, which can indicate that release artifacts are not linked to the event itself.

Are you using on-promise or SaaS version of Sentry? If former, make sure that your file-storage is configured properly h

[2020-05-11 10:04] kamilogorek commented on #728
This is definitely doable to implement, however, it should be already possible to authenticate yourself using `APPCENTER_ACCESS_TOKEN` env variable instead, without the need to pass `--token` flag directly.

[2020-05-11 10:10] kamilogorek commented on #729
How are you calling the CLI command? Here's the part responsible for finding `plist` file: https://github.com/getsentry/sentry-cli/blob/ad4b654e6d555f4096c64ad07694122e5af669d8/src/utils/appcenter.rs#L152-L184

[2020-05-11 11:23] kamilogorek commented on #706
@zhangdingding as this is an issue with self-hosted instance, please post the question on https://forum.sentry.io/c/on-premise/7 Thanks!

[2020-05-11 11:23] #706 closed

[2020-05-11 14:45] julien1619 commented on #713
Hey! I would be interested to use it in the webpack plugin too, so I can try to do it.

[2020-05-11 18:09] emanuelpinho commented on #725
I'm using SaaS version of Sentry.  And yes, they are mapped together with `release` and `environment`.

Also, it seems like the files are well stored in the release artifacts

![Imgur](https://i.imgur.com/i2wuGb4.png)

[2020-05-11 18:28] davidszotten opened #731 "panic on invalid log level"
[code]

[2020-05-11 21:00] tm1000 opened #732 "Bitbucket Server HTTPS and SSH git urls not being matched"
This is very similar to #550 except with Bitbucket server now. Recently #694 was addressed which allows one to use bitbucket server however the urls don't match so you can't use --auto

[code]

[2020-05-12 00:01] zanechua commented on #728
Ah. Setting the `APPCENTER_ACCESS_TOKEN` sounds like a good work around for now.

[2020-05-12 00:10] zanechua commented on #729
The command I was running was:

`node_modules/.bin/sentry-cli react-native appcenter app/ios ios build/ios --deployment development --bundle-id com.blah.app`

Was running it from the root directory of the react native project and wasn't able to get it to work. I was logged into appcenter cli at the time.

[2020-05-12 10:51] kamilogorek commented on #719
@GaoYuJian I reviewed both of the events that you provided, and in the first one, all the artifacts necessary to resolve the source maps are missing (558.js, 119.js, 32.js), where the second event has them all. Please note that they both have different releases configured, which creates the discrepency.

[2020-05-12 11:28] kamilogorek commented on #729
Would it be possible to rerun it with debug logging level? `LOG_LEVEL=debug` or `--log-level=debug`?

[2020-05-12 11:42] zanechua commented on #729
Got the following:
![image](https://user-images.githubusercontent.com/4265429/81683453-bcaae180-9488-11ea-8636-0a720916e8d6.png)

[2020-05-12 12:34] kamilogorek commented on #732
`ssh://git@bitbucketserver.example.com/key/project.git` is correctly parsed down to:

[code]

However, `https://git.clearlyip.com/projects/KEY/repos/project/browse` is not.

The problem here is that Bitbucket Server has no one unified way to expose the repository through https afaik, and it can be freely configured. Because of that, we are not able to automatically determine what's the org/project

[2020-05-12 12:43] kamilogorek commented on #731
Thanks! Fixed in https://github.com/getsentry/sentry-cli/pull/733/

[2020-05-12 12:46] kamilogorek commented on #725
As this is an issue with self-hosted instance then, please post this question on https://forum.sentry.io/c/on-premise/7 as it's almost certainly issue with the service itself, not the sentry-cli. Thanks!

[2020-05-12 13:03] jan-auer commented on #732
@kamilogorek this looks like there are known prefixes, like `projects/` which we could detect. Would that be possible?

[2020-05-12 14:55] emanuelpinho commented on #725
There seems to be some miscommunication issues here... I'm not using an on-premise/self-hosted/in-house solution.

[2020-05-12 15:14] tm1000 commented on #732
I’ve gotten it to work with using —commits which was slightly painful to figure out. Is there maybe a chance we could add —repo= and use it alongside —auto. That way we could tell sentry cli what the project/key is and it can do the auto magic from there.

[2020-05-12 17:23] davidszotten commented on #731
Thank you!

[2020-05-12 21:10] #731 closed

[2020-05-12 21:12] kamilogorek commented on #725
Well, I'm really dumb and cannot read apparently. Sorry! 😅
Will take a second look in the morning.

[2020-05-14 01:29] ndench opened #734 "Releasing to mulitple projects at a time"
The [releases documentation](https://docs.sentry.io/workflow/releases/#using-the-cli) shows that we can create a new release for multiple projects:

[code]

However, specifying the `-p` option multiple times give the following error:

[code]

A workaround for now is to run the command multiple times for each project:

[code]

It would be great if the cli supported multiple projects for this operat

[2020-05-14 07:20] stayallive opened #735 "Monitors run doesn't run when Sentry is down / ID is incorrect"
If Sentry is down or for some other reason it can't be accessed the `monitors run` command just doesn't fire the command.

It would be nice to have it run the command you request anyway regardless of what the response from Sentry is to make sure the CRON at least runs even if there is an incorrect monitor ID and/or Sentry is down.

Example command:
[code]

In the above example I would expect the p

[2020-05-14 09:42] SimonGolms commented on #727
I close the issue again, as it looks like it relates to the network configuration (firewall, VPN, proxy, etc.) and is gone now.

[2020-05-14 09:42] #727 closed

[2020-05-14 09:59] kamilogorek commented on #727
Thanks for getting back to let me know!

[2020-05-14 13:47] woltsu commented on #307
If you have Docker, then you can try this in the project folder:
[code]

[2020-05-15 09:24] kamilogorek commented on #725
@emanuelpinho can you provide a link to any event that you used to test this? I'll take a look directly. Thansk!

[2020-05-15 09:45] callaars opened #736 "Ability to delete release files by distribution"
Currently, when giving a file name to delete, it will remove that file across all distributions, but it would be handy to be able to delete a specific distribution only. The usual `--dist` option doesn't seem to work.

For example:

[code]

[2020-05-15 12:54] HazAT opened #738 "may have been in progress in another thread when fork() was called."
When using macOS Catalina to build `sentry-cli` we need:

`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`

It results in this.

[code]

It seems that this doesn't happen when we build the binary on our CI against an older macOS version.

[2020-05-15 12:57] mitsuhiko commented on #738
The correct fix is to not do calls to system frameworks before the call. Would be good to figure out why it happens.

[2020-05-18 09:55] tim-lucida opened #739 "sentry-cli logging levels dict significantly changed"
hi!

Couple days ago our ci-cd pipelines with sentry-cli usage were broken with the following error

[code]
supposedly, logging-levels were broken in https://github.com/getsentry/sentry-cli/commit/d955118fe63bd07a2e6c543d0f998f10d05c94c1

**steps to reproduce**
run the following command
`sentry-cli releases -p my-app-name --log-level=INFO info 61def5a8375371d2221b6cde396aa62e8239032c`

[2020-05-18 10:07] tim-lucida commented on #739
Will sentry-cli use capitalised (INFO, WARN, etc) logging-levels in future or should we switch to lowercase ones (info, warn, etc)?

[2020-05-18 10:35] kamilogorek commented on #739
Hey! It was my oversight, excuse me. Will be fixed in #740

[2020-05-18 12:04] tim-lucida commented on #739
thanks for quick response!
@kamilogorek could you suggest when PR will be merged and hotifx released?

[2020-05-18 13:32] #739 closed

[2020-05-18 14:00] kamilogorek commented on #739
@tim-lucida Today afternoon/Tomorrow morning. Have to merge one more feature first.

[2020-05-18 17:36] kamilogorek commented on #739
@tim-lucida released as `1.53.0`

[2020-05-18 17:36] kamilogorek commented on #713
Added and released as `1.53.0` :)

[2020-05-18 17:36] #713 closed

[2020-05-20 08:56] Jake-Shadle opened #742 "Add support for external repositories?"
Sentry helpfully supports using [Custom repositories](https://docs.sentry.io/workflow/debug-files/#symbol-servers) for debug symbols, but sentry-cli itself doesn't support uploading to them.

Before I implemented our own uploader for GCS which would be basically redoing a lot of work that sentry-cli already does, I thought I would ask if such a feature would be interesting to add to sentry-cli its

[2020-05-20 11:41] mitsuhiko commented on #742
There is definitely interest but we so far thought about doing this as part of the [symsorter](https://github.com/getsentry/symbolicator/tree/master/symsorter) tool. So probably opening up a PR there would be the better path forward.

We're currently not distributing binaries for that but would be happy to start doing it if that tool becomes more useful.

[2020-05-20 11:54] Jake-Shadle commented on #742
Ahh nice, wasn't aware of that tool, I'll do the change there then, thanks!

[2020-05-20 11:54] #742 closed

[2020-05-21 08:12] caalberts opened #743 "Add option `--no-environ` to `bash-hook`"
The environment may contain some secrets that should not be leaked into Sentry event. The `sentry-cli send-event` has `--no-environ` to prevent this.

`sentry-cli bash-hook` should also have a similar option.

[2020-05-21 17:28] chriscamac opened #744 "broken npm install 1.53.0 using Azure image: macOS-10.14"
receiving this error in my npm install pipeline when running an npm install task on Azure pipelines using the image: macOS-10.14.  This step works fine if I run ```npm i``` from my local windows setup.

By searching through your issues, I found that this has happened in the past and was resolved.  i.e. https://github.com/getsentry/sentry-cli/issues/307

[code]

[2020-05-21 19:10] jeffbowen commented on #84
Did you change your mind on this @mitsuhiko or did you find a way to disable notifications?

[2020-05-22 12:22] chriscamac commented on #744
I was able to fix this by setting the version of node to 10.19.0.  Probably doesn't have to be this version, but the version that Azure Pipelines was using by default was 6.17.0 and that definitely breaks the install.  I verified this by setting my node version locally to 6.17.0 and getting the same errors on npm install step.

For anyone else that might be working with Azure Pipelines and needs t

[2020-05-22 12:22] #744 closed

[2020-05-26 06:30] OldrichDlouhy commented on #726
To add my two cents, Cypress.io uses `CI` environment variable indicating run in continuous integration environment to suppress the download progress messages - see https://github.com/cypress-io/cypress/issues/1243. Would be nice if sentry could use the same variable.

[2020-05-26 10:38] kamilogorek commented on #726
I'm not sure what would be the use-case here? Are you talking about the CI as @OldrichDlouhy mentioned?

[2020-05-26 11:39] #743 closed

[2020-05-26 11:39] kamilogorek commented on #743
Done!

[2020-05-26 22:16] djhype commented on #672
@kamilogorek Can you share whether this is on your roadmap now? If so, where would an announcement be made when support has been added for a FreeBSD binary? In this issue, or somewhere else?

[2020-05-27 09:57] Snack-X commented on #726
That's correct. We don't need 100 lines of `fetching sentry-cli-Linux-x86_64 xx%` every time we update our dependencies.

[2020-05-27 19:45] kamilogorek commented on #726
@Snack-X I'll patch it this week then

[2020-05-28 03:18] NewBieBR commented on #435
Same issue for iOS, any update?

[2020-05-28 10:23] vkulov opened #747 "sentry-cli: cannot execute binary file"
I'm working on an AWS Lambda function that does some deployments. As the final part of the deployment we need to upload the source maps to sentry.

I don't seem to find a way to do that in NodeJS. I'm using sentry-cli and something similar to thins:
`
const sentryCli = new SentryCli();
    sentryCli
        .releases.new(buildNum)
        .then(() => {
            return sentryCli.releases.uploadS

[2020-05-28 15:11] vinicius-ronconi commented on #445
@alubina , can you elaborate on what was the permission missing? I'm facing a similar issue and maybe it can solve my problem!

[2020-05-28 15:56] KevinColemanInc commented on #435
It has been 1.5 years since I posted this :-/ I guess this company needs free labor from open source devs to support their products...

[2020-05-28 17:22] ilyadoroshin opened #748 "centry-cdn.com uses the IP that is blocked in Russia"
Hi, guys!

We're experiencing issues downloading sentry cli (and the whole thing breaks) on postinstall due to the fact that cdn is being used on blocked IP in Russia
[code]
https://reestr.rublacklist.net/search/?q=151.101.130.217

[2020-05-29 01:12] reepush commented on #84
@jeffbowen Adding this to _ios/sentry.properties_ hides notifications:
[code]

[2020-05-29 07:46] michalper commented on #445
@vinicius-ronconi we have to re-authorize every repository in Sentry (https://docs.sentry.io/workflow/releases/?platform=php#install-repo-integration) and then everything started working fine.

[2020-05-29 09:37] tonyo commented on #748
Not much we can do here, unfortunately, since the CDN we use (and the respective IP addresses) is managed by Fastly.

You can try to download the binaries directly from GitHub releases: https://github.com/getsentry/sentry-cli/releases/tag/1.53.0, or use `SENTRYCLI_CDNURL` variable if you install with `npm` or `yarn`:
[code]

[2020-05-29 09:37] #748 closed

[2020-05-29 14:16] jeffbowen commented on #84
Thanks @reepush! Now I see. Glad to have those silenced.

[2020-05-30 21:08] imanodaysoffdotcom opened #750 "Create Project Endpoint returns "Internal Error""
When trying to create a new project via the Sentry API i get this errr
{"detail":"Internal Error","errorId":"random_error_id"} not sure whats going on... All other reqyest seem to work but not this one.

{"detail":"Internal Error","errorId":"1e453a3ca1004aafa2e00440e0f1cb9d"}

curl -X POST \
-H "Authorization: Bearer blahblahblabhblah" \
-H "Content-Type:application/json" \
-d '{"name":"testprojna

[2020-06-01 05:20] vdh commented on #560
@sameoldmadness I extended this out with the comments and extra comments I saw in `index.js` and `releases/index.js` in https://github.com/getsentry/sentry-cli/tree/master/js

https://gist.github.com/vdh/905e063b03c58166c21c25d1dbb9d663

I could keep going and type it out further, but it feels like this would be a lot more streamlined if the existing files were converted to Typescript because I wa

[2020-06-01 10:54] biagimarco opened #751 "Update alpine image to avoid SSL certificate problem"
You are currently using `alpine:3.7` in your docker file:
`https://github.com/getsentry/sentry-cli/blob/master/Dockerfile#L22`
Starting from 30/05/2020, this is causing the following SSL problem when accessing some Sentry instances:
`curl: (60) SSL certificate problem: certificate has expired`
Updating to alpine:3.12 solves the problem.

This is related to the following:
`https://thesslonline.com/

[2020-06-01 14:58] josh-m-sharpe opened #752 "error: failed to invoke sentry-cli"
Seems like I'm running into [this issue](https://github.com/getsentry/sentry-react-native/issues/323) which was swept under the rug over a year ago.

[2020-06-01 15:01] josh-m-sharpe commented on #752
And this issue:
https://github.com/getsentry/sentry-cli/issues/407

[2020-06-02 10:06] kamilogorek commented on #729
@zanechua sorry for the late response was kinda swamped.

If you get this error, this means that we did not find the `plist` file using the glob pattern we configured, which is `ios/*.xcodeproj`.

However, if your project structure is different than the standard one, you can still get the valid release name in 2 ways.

Either by providing `--bundle_id` and `--version_name` flags, or just `--releas

[2020-06-02 11:00] kamilogorek commented on #732
@tm1000 aren't this what you are looking for (from `set-commits` docs)?

`REPO` itself would do something similar to `--repo --auto`.

[2020-06-02 11:03] #726 closed

[2020-06-02 16:52] hashinclude72 commented on #577
wasted my whole day on this, aparantly this issue was first reported on [2017](https://forum.sentry.io/t/managing-sentry-releases-for-react-native-codepush-updates-that-use-semantic-version/2793) and still no proper fix.

And please tell me about this `dist` field?

[2020-06-04 10:40] #751 closed

[2020-06-04 10:41] tonyo commented on #751
Thanks for the report!
It will be fixed in the next image version.

[2020-06-05 23:05] hackel opened #758 "Update insists I need sudo when installed as same user"
I have installed sentry-cli in `~/bin`.  When I run `sentry-cli update`, I get the message 'Need to sudo to overwrite  /home/x/bin/sentry-cli'.  This is definitely not true.  The file has mode 755 as it should, I can freely write to it, delete it, etc.  There seems to be something wrong with your `utils::fs::is_writable` function.

Obviously I don't want to grant an unprivileged user sudo access,

[2020-06-07 15:35] SiSa68 commented on #415
Any news?!

[2020-06-08 19:33] fallard84 commented on #666
Hi! We have the same error message when running sentry-cli in Google Cloud Build to upload source maps.

[2020-06-09 00:57] Constaline opened #760 "error: API request failed: [55] Failed sending data to the peer"
when  upload sourcemap by command:
[code]
[code]
When upload over  100 files, there have the same error.

[2020-06-09 11:32] karna41317 commented on #446
I do have same issue

 node --version
v12.16.1

[2020-06-09 13:19] kamilogorek commented on #760
Are you using our SaaS or own on-premise instance? It looks like misconfigured server and/or connection problem.

[2020-06-09 13:22] kamilogorek commented on #760
related:
https://github.com/getsentry/sentry-cli/issues/7
https://github.com/getsentry/sentry-cli/issues/40

[2020-06-09 13:25] kamilogorek commented on #446
@karna41317 it looks like you have some connection issues with our CDN that stores the binary.
You may try to point it to a different mirror, eg. `SENTRYCLI_CDNURL=https://github.com/getsentry/sentry-cli/releases/download/ yarn add react-native-sentry@0.40.2`

[2020-06-09 13:27] kamilogorek commented on #666
@fallard84 did you try this approach? https://github.com/getsentry/sentry-cli/issues/666#issuecomment-590866616
If not, then can you provide some debug log (mentioned in the comments above)?

[2020-06-10 03:47] Constaline commented on #760
It has the self-hosted sentry(10.0.0.dev0). But after setting 'limit-post' in the sentry.conf.py , it can not resolve the problem.

[2020-06-10 09:47] Constaline commented on #760
Can I resolve the problem by using nginx as a reverse proxy?

https://github.com/getsentry/sentry-cli/issues/40#issuecomment-348058389

[2020-06-11 18:06] StarryFire commented on #577
1. Put this just below `Sentry.init` in your codebase
[code]

2. To deploy changes via codepush, run the following command

[code]

3. To upload the sourcemaps of the deployed codebase to sentry, run the following commands

[code]

[code]

where,
`APP_NAME` is `${owner_name}/${codepush_app_name}`.

`DEPLOYMENT_NAME` is the name of the deployment you want to deploy the changes under i.e. Staging/Pr

[2020-06-11 18:06] StarryFire commented on #554
1. Put this just below `Sentry.init` in your codebase
[code]

2. To deploy changes via codepush, run the following command

[code]

3. To upload the sourcemaps of the deployed codebase to sentry, run the following commands

[code]

[code]

where,
`APP_NAME` is `${owner_name}/${codepush_app_name}`.

`DEPLOYMENT_NAME` is the name of the deployment you want to deploy the changes under i.e. Staging/Pr

[2020-06-12 06:31] hashinclude72 commented on #577
hey, @StarryFire  thanks man  for this detailed response. I will give it a go.

[2020-06-12 15:20] fallard84 commented on #666
The issue was that curl was not available for sentry-cli to use. The error could be more explicit I guess :) We installed curl and the issue was resolved.

[2020-06-12 19:52] kamilogorek commented on #666
@fallard84 that's odd, as we use statically linked curl, which is bundled with rust crate we use. Is this the newest cli version? If so, what was the environment?

[2020-06-15 11:27] aabuhijleh opened #762 "Issue when trying to upload symbols: thread 'main' panicked at 'capacity overflow': src\liballoc\raw_vec.rs:750"
## Issue

I'm trying to follow the documentation about using Electron's symbols [here](https://docs.sentry.io/platforms/javascript/electron/#providing-debug-information).

In the Sentry premise version 9.1.2, there's no "Builtin repositories" option.

![image](https://user-images.githubusercontent.com/42934634/84652058-a4106a00-af13-11ea-9aab-a35aaf771142.png)

So I'm trying to manually upload the

[2020-06-15 16:11] dora-gt commented on #545
Release name doesn't work for me... 😞

[2020-06-16 16:57] mmiszy opened #764 "Error: ENOENT: no such file or directory, lstat '……/@sentry/cli/�@@��@8@@@X��X��'"
I'm trying to install `@sentry/cli` (it's a dependency of `@sentry/webpack-plugin`) but unfortunately, I get the following very weird error:

`Error: ENOENT: no such file or directory, lstat '/usr/home/…………/node_modules/@sentry/cli/�@@��@8@@@X��X��'`

The project is open-source and available here: https://github.com/typeofweb/devfaq

- Yarn version: 1.22.4
- Node version: 12.16.1
- Platfor

[2020-06-17 15:41] konclave opened #765 "Add `silent` flag to `releases files upload-sourcemaps` to prevent `Source Map Upload Report` log"
We have large amount of source files in our project so that can reduce significantly the size of log in CI build.
`sentry-webpack-plugin` already has this option. It would be nice if sentry-cli supported it too.

[2020-06-17 17:25] Prachiagrawal1 opened #766 "Sentry handles hang?"
Does sentry handles or tell about hang or os crashes....or it does tell about application crashes?

[2020-06-17 18:11] kamilogorek commented on #766
Sorry, but I'm not sure if I understand the question.

[2020-06-17 18:16] Prachiagrawal1 commented on #766
I mean if I used sentry with my app and released it, will it also notify me if there is any hang issue with my app while user is using?or it catches only exceptions?

[2020-06-17 18:20] Prachiagrawal1 commented on #766
I wanted to try the demo. But I am unable to configure it with my cpp app. Can you help me with it?

[2020-06-17 20:35] kamilogorek commented on #766
This is repository for `sentry-cli`, which is a tool to upload sourcemaps and debug symbols to Sentry.
For the cpp SDK itself, please see https://github.com/getsentry/sentry-native
And direct your questions on our SDK forum https://forum.sentry.io/c/sdks or Discord channel https://discord.com/invite/Ww9hbqr

Cheers!

[2020-06-17 20:35] #766 closed

[2020-06-18 10:23] RomikimoR commented on #666
Hello, SO is this is known issue with the new version of the client ?

I am using the cli in a bitbucket pipeline for months now and today this happened. I do not want to set the verify_ssl value to false because even in the doc I read about being very careful with this option (it makes sense). Curl should be available in my environment, I am running in a docker container and the image I am using

[2020-06-18 10:57] kamilogorek commented on #666
Not that I know of. Wasn't able to reproduce it so far.

[2020-06-19 14:18] diegotsi opened #767 "Could not parse Info.plist file on IOS/React Native"
Hi! I follow all instructions to use sentry on react-native but I'm getting this error, that's my debug from Xcode:

[code]

What can I do to solve this issue?

[2020-06-19 18:34] twelve17 commented on #421
It appears that the "no such file or directory" error is coming from the sentry-cli script, as it is a javascript script, and also runs with node:

[code]

The error is actually coming from `/usr/bin/env`, hence why the error message starts with "env:", because "/usr/bin/env" is not finding "node".

To confirm this, I changed this line of the build phase script :

[code]

To

[code]

Which should

[2020-06-19 22:35] md5 opened #768 "sentry-cli projects list: error: could not parse JSON response"
We're running into an error when `"team": null` is returned in the list of projects. I'm not sure if projects should be allowed to exist with no team, but if so it looks like `struct Project` should have `Option<Team>` instead of `Team`. Otherwise, I guess this is something we need to fix on our server.

[code]

[2020-06-21 08:47] MahdiAbdi commented on #472
Still not fixed.
Ubuntu 18.04 - Sentry-CLI 1.54.0

[2020-06-21 08:52] MahdiAbdi commented on #435
Really struggling with this.

[2020-06-22 10:44] Multiply opened #769 "Release starting with - is treated as an argument"
When using `@sentry/cli` in a javascript project, you can't have a release starting with `-`, as it's forwarded incorrectly as an argument.

My proposal is to escape/quote the release, when calling `this.execute` in `js/releases/index.js`.

This was found when using [next.js + sentry-webpack-plugin](https://github.com/getsentry/sentry-webpack-plugin/issues/197).

[2020-06-22 15:50] #769 closed

[2020-06-23 11:45] kamilogorek commented on #764
It could be related, but not at the stage of fetching the binary itself, as we fall back to regular Linux build for FreeBSD.
Can you provide any more logs or be more specific at what stage it actually blew up?

[2020-06-23 12:17] mmiszy commented on #764
Sure, here's the full log of running `yarn install --frozen-lockfile`:

[code]

It's coming from a GitHub Action ssh-ing into my webserver which is on freebsd: https://github.com/typeofweb/devfaq/runs/777150869

[2020-06-24 14:34] chriscasola commented on #727
We are seeing this issue too and I'm not sure where to start on how to debug this.

Node: 12.15.0
Yarn: 1.22.4

[2020-06-24 15:03] kamilogorek commented on #727
@chriscasola you can try to change CDN URL and see if that makes any difference for you, eg.

`SENTRYCLI_CDNURL=https://github.com/getsentry/sentry-cli/releases/download/ npm install @sentry/cli`

[2020-06-25 06:19] dvshsahu commented on #704
hi, any update on #715, when we can expect it to be released?

[2020-06-26 11:08] kamilogorek commented on #704
You have to ask @jan-auer :>

[2020-06-26 12:00] dvshsahu commented on #704
hi @jan-auer,

regarding #715, when we can expect it to be released?

[2020-06-26 15:11] chriscasola commented on #727
@kamilogorek using that alternate URL does fix the issue.

I did some debugging, and it seems like the default CDN url occasionally returns the correct content length for the binary, but does not actually send all the bytes before terminating the connection. I don't know if you want to follow up on the CDN or potentially add retry logic in the install script.

In the cases where the response conta

[2020-06-27 16:50] emanuelpinho commented on #725
@kamilogorek Thank you very much. Seems like it is working when deployed in production. Some problem when using docker to simulate the prod environment was causing the issue. Closing this.

[2020-06-27 16:50] #725 closed

[2020-06-28 18:44] georgiosd opened #777 "Installing the latest 1.54.0 package on Windows fails"
From admin powershell prompt:
[code]

[2020-06-30 12:55] #768 closed

[2020-06-30 15:49] hdlim15 commented on #364
Had this same issue and wanted to share what my problem and solution was. Hope this helps some of you!

**BEFORE:**
[code]

The key thing to note here is that the sourceMapFilename was using `[contenthash]`. I had originally written this to fix a problem where js and css files from the same chunk were writing to the same source map file, giving me a "Multiple assets emit different content to the s

[2020-06-30 16:46] alex-adestech commented on #777
@georgiosd this solved the issue for me. https://github.com/getsentry/sentry-cli/issues/744#issuecomment-632664646

[2020-06-30 17:38] georgiosd commented on #777
@alex-adestech thanks, but I am already working with 12.x

[2020-06-30 19:25] #704 closed

[2020-06-30 19:26] kamilogorek commented on #704
@dvshsahu will do a release tomorrow, stay tuned.

[2020-06-30 19:27] dvshsahu commented on #704
Thnx a ton

[2020-06-30 19:48] kamilogorek commented on #777
Can you provide a log mentioned in the original post? Or is it the same thing you already pasted?

[2020-07-01 08:07] georgiosd commented on #777
@kamilogorek log above is with node 12.x, yes. Is that what you meant?

[2020-07-01 08:14] Frank-zf commented on #364
![image](https://user-images.githubusercontent.com/18008036/86219760-34f27100-bbb5-11ea-8781-ebaffc29acc9.png)

this is appear afer executing "sentry-cli releases files 1.0.0 upload-sourcemaps .nuxt/dist/client --url-prefix ~/_nuxt"

I tried change webpack config,but you now,it's useless. How can fix this?

[2020-07-01 09:40] kamilogorek commented on #734
Fixed in https://github.com/getsentry/sentry-cli/pull/775

[2020-07-01 09:40] kamilogorek commented on #732
Fixed in https://github.com/getsentry/sentry-cli/pull/775

[2020-07-01 09:40] #732 closed

[2020-07-01 09:52] kamilogorek commented on #734
Right it's done that way because every other command is project-scoped. We also heavily rely on ini/properties files for this configuration, and as you can tell from `--help` flag, `-p/--project` is even hidden from there to not encourage it's usage.
We'll definitely rethink this behavior, but I'm afraid it won't be anytime soon, as it can be achieved with loops in any scripting language/shell.

[2020-07-01 10:31] kamilogorek commented on #747
The call itself looks good, however, there seems to be a problem with AWS filesystem permissions, where installed binary has incorrect chmod set. This is not the cli issue itself, but rather environment problem. See:

https://docs.aws.amazon.com/lambda/latest/dg/troubleshooting-deployment.html
https://aws.amazon.com/premiumsupport/knowledge-center/lambda-deployment-package-errors/

[2020-07-01 10:31] #747 closed

[2020-07-01 10:35] kamilogorek commented on #750
I just verified it and had no issues locally (other than initial permissions problem, which you can solve by extending your API key scope in settings). Moving this issue though, as it's not CLI problem.

[2020-07-01 10:37] kamilogorek commented on #752
Do you have any more details? Logs? It's hard to even start debugging without it.

[2020-07-01 10:47] kamilogorek commented on #760
This should work as well. Moving the issue to on-prem repo, as this is where it belongs.

[2020-07-01 10:59] kamilogorek commented on #777
I was wondering if `C:\Users\georgiosd\AppData\Roaming\npm-cache\_logs\2020-06-28T18_38_17_562Z-debug.log` contains anything more than what you already provided.

[2020-07-01 11:08] kamilogorek commented on #777
It's hard to tell what went wrong, as node doesn't give enough context for the failure.
I'd start with the lowest hanging fruits first:

`npm cache clean --force`, delete `C:\Users\georgiosd\AppData\Roaming\npm\node_modules` (or more specific @sentry directory) and then try to create the directory yourself and give it executable permissions. Sometimes doing just that fixes npm issues.

[2020-07-01 11:18] kamilogorek commented on #736
It's currently not possible in the product itself - https://github.com/getsentry/sentry/blob/345782d3e5bbbb24aeb6872c9ce8728e9586bdf7/src/sentry/api/endpoints/organization_release_file_details.py#L110-L145
It'd be great if you could report it here https://github.com/getsentry/sentry and cross-link this issue, so I can implement it once it's there. Thanks!

[2020-07-01 12:14] #735 closed

[2020-07-01 13:06] kamilogorek commented on #704
@dvshsahu `1.55.0` has been released. Let me know if it works when you have a chance to test it out. Thanks!

[2020-07-02 21:40] gregholland commented on #371
I've just randomly started getting this error using `"@sentry/webpack-plugin": "^1.11.1"`
[code]

[2020-07-03 09:34] kamilogorek commented on #727
Thanks for letting us know. We didn't find any abnormalities in our CDN, but it's good to be aware that it can happen.

[2020-07-03 09:38] kamilogorek commented on #364
@Frank-zf it's not sentry-cli issue. Nuxt has some known issues with producing sourcemap files. See: https://github.com/nuxt/nuxt.js/issues/6944

[2020-07-04 12:47] davidsneighbour opened #781 "Start a release without knowing the new version number yet"
I am using [standard-version](https://github.com/conventional-changelog/standard-version/) to release my scripts. This tool uses lifecycle scripts that take care of bumping the version number, changing version number in files, committing and tagging the release. There seems to be no way to know, what the new version number is BEFORE the bump step ran. Is it possible to start a new version release

[2020-07-04 14:08] regalstreak commented on #435
Same issue here

[2020-07-06 10:30] kamilogorek commented on #781
It's not possible to override the name, however, it is possible to override the start date.
So you can write something like this in your scripts:

[code]

[2020-07-06 11:18] davidsneighbour commented on #781
That does the trick, thank you :)

[2020-07-06 11:18] #781 closed

[2020-07-06 13:51] kamilogorek commented on #435
In order to even start debugging this, I need any sort of logs, preferably with debug log level (`SENTRY_LOG_LEVEL=debug` or `--log-level=debug`). And reproducible example. Thanks

[2020-07-06 17:55] cguess opened #782 "404 Error when Uploading Symbol file from CLI"
Platform: MacOS 10.15.6
Sentry CLI: `sentry-cli 1.55.0`

When trying to upload a zip of iOS dSYM's I get
[code]

The command I'm trying is the following:
[code]

Specifically it's the second request that is failing, the debug looks like this:
[code]

The difference is that the first request starts with `https://sentry.io/api/0/projects/`, this missing host on the second request seems to be the iss

[2020-07-06 18:50] kamilogorek commented on #782
Could you provide a whole debug log please? thanks!

[2020-07-06 19:48] cguess commented on #782
This should do it (i've removed my auth keys for obvious reasons)

[sentry-output.log](https://github.com/getsentry/sentry-cli/files/4880935/sentry-output.log)

[2020-07-07 20:38] maniator commented on #707
if you have it in your home directory it is considered sys wide I believe

[2020-07-08 19:01] martintreurnicht commented on #163
The solution is to use `--version-name` when using dynamic versions, same when using product flavors, specify `--bundle-id` manually

[2020-07-09 20:58] chriscrowe opened #785 "`sentry-cli releases deploy` breaks when release starts with "new""
Platform: Docker `alpine:3.12`
Sentry CLI: 1.55

It seems that when you have a release version that starts with the characters ‘new’, you're unable to mark it as deployed using the CLI. The release version gets misinterpreted as a command and produces an error like this:

[code]

Notably, creating the release works just fine. It only breaks when you try to mark it as deployed.

[2020-07-10 08:42] kamilogorek commented on #785
Duplicate of https://github.com/getsentry/sentry-cli/issues/785

[2020-07-10 08:42] #785 closed

[2020-07-10 10:03] kamilogorek commented on #686
Related https://github.com/clap-rs/clap/issues/2001

[2020-07-10 12:51] ahijaouy commented on #785
@kamilogorek, I think you mistakenly marked this issue as a duplicate of itself...

[2020-07-10 13:08] kamilogorek commented on #785
Oh snap, thanks @ahijaouy!

Duplicate of https://github.com/getsentry/sentry-cli/issues/686

[2020-07-12 18:41] georgiosd commented on #777
Not sure but it's not happening any more. Thanks.

[2020-07-12 18:41] #777 closed

[2020-07-13 05:53] gaurav5430 commented on #482
In what scenarios could we have 2 different projects tracking the same release?
For example, I have a multi tenant web app, and I send out the same release for all the tenants. Currently I have a different sentry project for each of the tenants with the same release number. I do face this problem where source maps uploaded to one project are visible across all the tenant projects. This is not help

[2020-07-15 07:37] G07cha opened #786 "Yarn/npm install failed for 1.55 - reason: connect ECONNREFUSED 0.0.0.0:443"
Full error:

[code]

yarn-error.log:

[code]

[2020-07-15 07:38] G07cha commented on #786
Nevermind, it's something with my network

[2020-07-15 07:38] #786 closed

[2020-07-15 16:10] Legi0n1138 commented on #415
Still an issue on the latest version

[2020-07-16 13:46] twelve17 commented on #421
@export-mike  would you be open to a PR to add nvm support to the sentry build phases? It would probably require a similar approach to what the react native team did, and would need to be wrapped in a shell script.

[2020-07-16 13:47] arthurlogilab opened #787 "[featurerequest] sentry-cli send-event --json-logfile"
Some programs can output structured json log files. It would be nice if sentry-cli could send those so that the structured information could be used by sentry on the other side to display clearer breadcrumbs and extract the error information only for example.

The context for this, is using sentry-cli to report errors in a gatsby-build, see issue https://github.com/gatsbyjs/gatsby/issues/25789 for

[2020-07-17 04:24] EricKit commented on #593
Running this on a Raspberry Pi 4 8GB - same issue.

[2020-07-20 17:27] samuelhwilliams opened #789 "Releases set-commits auto, with no linked repos."
We're running a self-hosted Sentry and I've been following the docs to set up release tracking. I've got to the part where we're  creating the release and associating commits. We aren't using the sentry integrations, and it seems like this causes `set-commits --auto` to short-circuit prematurely. [The docs suggest that it's fine to not set up integrations](https://docs.sentry.io/workflow/releases/

[2020-07-21 08:14] oskari opened #790 "error: No such file or directory (os error 2) in sourcemap upload when running in CircleCI with Fastlane"
I've installed react-native-sentry to my expo bare workflow react native project with yarn and used the wizard to link it. Now my project build fails with the added sentry gradle step.

Build environment is CircleCI with circleci/android:api-29-node image

[code]

While building it on my own computer, the logs are:

[code]

Seems that it's not generating the sourcemaps correctly. What could be the

[2020-07-22 11:46] dvshsahu commented on #704
hi @kamilogorek, thanks for the feature but I am not able to use it, can you please provide some documentation on how to use it, it would be of great help?

[2020-07-22 14:56] kamilogorek commented on #704
@dvshsahu there are no changes to the API, it works in the exact same way as regular single-file upload, with the exception that you can now point it to the directory instead of files, so instead of:

[code]

you can just call this instead:

[code]

[2020-07-22 15:37] bsergean commented on #704
I have a flat structure (files are not inside folder, but at the top level), and I'm using . (dot) for the folder which seems to work nicely so far.

[2020-07-22 21:42] NisanthanNanthakumar commented on #789
@samuelhwilliams Hi! So I think you are right! I just tested it out on a fresh install and if you don't have any repos connected/created the command will bail. Obviously this doesn't make sense if you want to only push local commit metadata.

Thank you for bringing this up!! I'll start working on a patch for this.

Also, I'm curious about the "invalid" author emails. Can you elaborate on this issu

[2020-07-22 22:50] samuelhwilliams commented on #789
Hey @NisanthanNanthakumar - thanks for the reply! Sounds good - will keep an eye out for the patch and release. :)

I think the email issue I mentioned is not actually a problem. It seems to be a  configurable option [here](https://github.com/getsentry/sentry/blob/95767d455b8004ec4b4c5026d84b64b6348e6d37/src/sentry/security/utils.py#L38-L39), so might be that we've just configured it to be too res

[2020-07-23 07:01] kamilogorek commented on #789
@samuelhwilliams PR is pending and should be merged and released soon. In the meantime, however, would you be able to give it a try locally?

[code]

[2020-07-23 09:17] dvshsahu commented on #704
@kamilogorek & @bsergean  thanks, it works smoothly now

[2020-07-23 09:49] samuelhwilliams commented on #789
Hey @kamilogorek - looks like it works! Quick turn around. Thanks both :)

[2020-07-23 10:03] kamilogorek commented on #789
Awesome, thanks for confirmation, will release patch version on Monday :)

[2020-07-23 14:12] sgametrio opened #792 "error: Couldn’t not find the SHA of the previous release in the git history."
Hey everybody,
I'm using Sentry on a repository where we have several branches that upload source maps to Sentry, each time with a new release.

When calling these CLI commands:
[code]

It happens that sometimes we get the error
[code]
And if I increase the git depth, it shows`error: No commits found. Leaving release alone.`

It has to be said that when merging into master we are squashing commits

[2020-07-24 11:12] kamilogorek commented on #482
@gaurav5430 kinda. Releases are "buckets" for multiple projects. So you can have a release "MangoJalapeno" which includes multiple projects like "Frontend", "Backend", "Database" and so on, so forth. All release files are available for every project within it. However, if you want to release let's say "frontend" to multiple instances, eg. `prod`, `dev`, `staging` and want to make a distinction bet

[2020-07-24 11:17] kamilogorek commented on #792
`--auto` is a flag, and it doesn't accept any additional value, so this last `${CI_COMMIT_SHA}` is ignored.

If you squash or rebase git history, then as you already mentioned there's a chance that hashes will be overridden, and we won't be able to find old release reference. If you cannot change that, then you'll most likely have to explicitly tell the CLI which hash is the one that you want to u

[2020-07-24 12:59] kamilogorek commented on #787
Sounds good! Although it's not on our roadmap anytime soon, I'd be more than happy to help with implementing this.

[2020-07-24 13:28] gaurav5430 commented on #482
But in what scenarios do you need to have access to frontend release files in the backend release project?

[2020-07-27 11:32] #792 closed

[2020-07-27 19:11] bruno-garcia opened #794 "sentry-cli panics when no path is provided to upload-dif"
Two things to fix:

1. Print a warning and bail if no path was provided
2. Avoid the panic by checking if there's a parent folder:

[2020-07-27 20:39] #794 closed

[2020-07-29 14:43] cgarima commented on #348
I am facing this issue.

My URL in /manage/settings  is "http://sentry.myorg.xx/"

and when I try to upload debug symbols using sentry-cli

sentry-cli --url http://sentry.myorg.xx/ --auth-token {mytoken} upload-dif --org myorg --project my-proj /Users/Downloads/dSYMs.zip --log-level=debug

It gives me the following error:
error: API request failed
  caused by: sentry reported an error: not found (

[2020-07-30 12:13] breminnyi opened #796 "FetchError: self signed certificate in certificate chain"
Hi! Npm fails to install @sentry/cli package and produces the following error:

FetchError: request to https://downloads.sentry-cdn.com/sentry-cli/1.55.1/sentry-cli-Windows-x86_64.exe failed, reason: self signed certificate in certificate chain
npm WARN helloworld@1.0.0 No repository field.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @sentry/cli@1.55.1 install: `node scripts/install.js`
np

[2020-08-03 13:34] nturpin opened #797 "Upload dsyms fails with EOF while parsing a value at line 1 column 0"
Related to this closed issue: https://github.com/getsentry/sentry-cli/issues/374

Our sentry script started failing very recently on the upload step, without changes on our side that I am aware of.
We are getting this error (even after upgrading plugins and retrying):

$ bundle exec fastlane upload_dsyms_to_sentry
[✔] 🚀
+------------------------+---------+--------------------------+
|

[2020-08-03 13:37] nturpin commented on #374
@kamilogorek we just started getting the error described here. I opened a new issue linking to this one.  Please let us know about any possible workarounds or fixes.

[2020-08-04 11:20] nturpin commented on #782
@kamilogorek same error here, when I tried this after our original script stopped working. Any way we could provide you some logs without posting them publicly here?

[2020-08-04 11:24] nturpin opened #798 "[featurerequest] option to manually upload dsym files to Sentry, if sentry-cli fails"
Whenever scripts or utilities fail, it is always good to have a backup solution.

Are you considering implementing such a solution? Or perhaps it exists already and I am not able to find it?

[2020-08-07 07:40] microJ commented on #727
如果是国内用户，可以使用命令

[code]

或者

[code]

[2020-08-08 00:20] skeggse opened #799 "host name resolution on private dns"
I don't quite have the rust skillset to figure this out - I'm trying to use the cli to inspect releases, and getting an error related to the host name. Just to rule things out, I'm able to run `curl` against the displayed URL and getting a big 'ol json blob as expected.

[code]

The DNS name in question isn't available publicly - I'm able to query it manually by hitting a specific IP from my machi

[2020-08-09 21:31] ajbeaven opened #800 "Installing sentry-cli on bash in windows fails"
When I run the following script in bash:
[code]

I receive the following error:

I assume it's because the version above doesn't exist in the https://sentry.io/get-cli/ script that is executed?

[2020-08-09 21:42] ajbeaven opened #801 "Add tasks to Azure Dev Ops to allow for easy integration of Sentry releases"
It'd be great to have a Azure Dev Ops task in the marketplace that would allow for easy integration with the Sentry releases stuff. Manual integration is currently difficult because [the bash install script is broken on windows](https://github.com/getsentry/sentry-cli/issues/800), and Powershell has been a bit of a nightmare to use for this purpose.

[2020-08-10 08:29] liangrong74 opened #802 "Sentry-cli propose-version output has wrong seperator char"
this is a copy of [Sentry-cli propose-version output has wrong seperator char](https://forum.sentry.io/t/sentry-cli-propose-version-output-has-wrong-seperator-char/10692)

Hello

The correct release seperator char is  `@`, thus a release should be of format

[code]

However, with command

[code]

the output seems to have `-` as seperator and output will be of format

`projectName-releaseVersion`

[2020-08-10 20:05] jef opened #803 "bug: false negative on invalid email"
### Description

Using `sentry-cli 1.55.1`

[code]

When I run a `git log`, I have an output of regular addresses and even anonymous email addresses. But I believe this is the culprit for given me the above error:

`49699333+dependabot[bot]@users.noreply.github.com`

Any email address like this I believe will also throw errors:

`29139614+renovate[bot]@users.noreply.github.com`

Probably because o

[2020-08-11 09:52] BYK opened #804 "Sentry-cli propose-version output has wrong seperator char"
_This is ported from https://forum.sentry.io/t/sentry-cli-propose-version-output-has-wrong-seperator-char/10692?u=byk_

-----

Hello

The correct release seperator char is  `@`, thus a release should be of format

[code]

However, with command

[code]

the output seems to have `-` as seperator and output will be of format

`projectName-releaseVersion`

Thus the issue reported in Sentry server and

[2020-08-11 10:09] kamilogorek commented on #804
Duplicate of https://github.com/getsentry/sentry-cli/issues/802 😶

[2020-08-11 10:09] #804 closed

[2020-08-11 10:11] kamilogorek commented on #801
Have you seen our Azure integration by any chance? It's available in your organizations settings and it may be already just what you are looking for.

![image](https://user-images.githubusercontent.com/1523305/89885767-d664dd80-dbcb-11ea-8125-b4c593d877f3.png)

[2020-08-11 10:12] BYK commented on #804
Ooops, sorry @kamilogorek :)

[2020-08-11 11:25] kamilogorek commented on #800
Fixed in https://github.com/getsentry/getsentry/pull/4318
Should be merged and deployed soon.

[2020-08-11 12:51] kamilogorek commented on #803
Hey, thanks for opening the issue. Verified it locally and this is indeed the case. However, the problem lies on the server-side, not the CLI itself. We'll discuss internally where to fix it though, as this change has some broader implications to the whole "suspected-commits" system. Cheers!

[2020-08-11 13:22] kamilogorek commented on #800
@ajbeaven fixed. You should be able to use the command now. Cheers!

[2020-08-11 13:22] #800 closed

[2020-08-11 14:21] kamilogorek commented on #797
@nturpin would you be able to provide a full debug log for the failure?

[code]

Thanks!

[2020-08-11 14:51] #802 closed

[2020-08-11 20:50] ajbeaven commented on #801
Yes, I've installed that, however it only relates to work items in Azure DevOps (which we don't use anyway). I'm after pipeline integrations, so for instance, when creating a new build, I can notify Sentry of a new release and easily integrate with the new(?) releases functionality.

Presumably this would be in the form of a pipeline task that you could install from the Azure DevOps marketplace.

[2020-08-12 04:41] SeyyedKhandon commented on #545
I've the same problem in vuejs app, and couldnt fix it, here is my sentry.ts:
[code]

How should i fix the problem?(when i trun the logErrors to true, the stack trace which is printed on console will be present on sentry server too,)

[2020-08-12 12:33] worenga commented on #308
we have the same issue using cloudflare access, can we have an option of adding extra headers?

[2020-08-13 07:59] shangyilim-hubble commented on #415
For my case, i followed  the documentation in https://docs.sentry.io/platforms/react-native/codepush/, and got the same error. After digging through the codebase, this is how it gets the project
`appcenter  codepush deployment history <DEPLOYMENT_NAME>  --app <APP_NAME> --output json`

Turns out the documentation did not mention that if your codepush runs on different deployment names other than `

[2020-08-13 11:08] kamilogorek commented on #545
@SeyyedKhandon you need to provide sourcemaps in order for us to resolve them - https://docs.sentry.io/sdks/javascript/#upload-source-maps

[2020-08-13 13:30] jbinto commented on #803
Also see https://github.com/getsentry/sentry/issues/20085

[2020-08-14 11:36] kamilogorek commented on #415
Thanks @shangyilim-hubble !

Updated our docs, which should resolve the original issue - https://github.com/getsentry/sentry-docs/pull/2001

Cheers!

[2020-08-14 11:36] #415 closed

[2020-08-19 11:24] bartek-wesolowski opened #806 "Can't add more than 50 commits to a release with sentry-cli"
I created a first release with sentry-cli and added some commits to it. Now, I'm creating a second release and setting its commits with:
`sentry-cli releases set-commits pl.allegro@6.43.0+64300 --auto`
There are 76 commits to be added. Unfortunately, I can only see the oldest 26 commits on sentry.io.
When I run the command with `--log-level=debug` then I see two requests like this:
`PUT https://se

[2020-08-20 07:25] Fnxxxxo opened #807 "404 error when install sentry cli."
I meet an 404 error when installing @sentry/webpack-plugin on Jenkins.
[code]
The error remains when I do a clean install with sentrycli_cdnurl config.
Any why to fix it?

[2020-08-20 08:28] kamilogorek commented on #807
It looks like a connection issue between our CDN and your Jenkins instance. You can try to use GitHub releases as the mirror to verify this:

[code]

[2020-08-20 10:16] #806 closed

[2020-08-20 11:11] kamilogorek commented on #806
That was indeed the bug on our side. Will release a new version and ping you soon.

[2020-08-21 04:22] eyuxin commented on #345
@BlackHole1  I have the same issue, how can I configure the SENTRY_FILESTORE_DIR?

[2020-08-21 08:52] kamilogorek commented on #345
Its env variable in your docker image. See https://github.com/getsentry/onpremise/issues/203#issuecomment-474343800 for an example

[2020-08-24 13:45] kamilogorek commented on #545
I've never used Vue alongside TypeScript, but if you provide a repro case of what's your current issue, then I might take a look.

[2020-08-25 02:40] SeyyedKhandon commented on #545
@kamilogorek
Here is a reprex: https://github.com/SeyyedKhandon/reprex-vue.ts-sentry , which i did the default config for sentry which was mentioned on sentries doc, and it doesn't work properly like it should be

[2020-08-26 11:30] StudioSpindle commented on #308
It seems as if sentry would allow it: https://github.com/getsentry/sentry-javascript/blob/b7baedd9/packages/types/src/transport.ts#L30

Something like:
[code]

[2020-08-26 11:46] PrantikMondal commented on #439
I have the same issue. Where did i find this  nginx.conf file?

[2020-08-26 12:23] StudioSpindle commented on #308
@worenga @idolize Could you re-check with the comment above to see if this works for you as well?

[2020-08-26 12:50] kamilogorek commented on #308
This thread is about `sentry-cli`, not `@sentry/node\browser` package 😅

[2020-08-26 12:52] kamilogorek commented on #439
nginx configuration is used in our onpremise instances - https://github.com/getsentry/onpremise/blob/master/nginx/nginx.conf

[2020-08-26 14:06] adnan1naeem commented on #449
I am facing this issue in sentry .Please help me in fixing this

[2020-08-26 20:06] axelander commented on #716
I get this too trying to upload sourcemaps using the `sentry-cli react-native appcenter ..` command. Any progress?

[2020-08-26 23:26] ljosberinn opened #810 "Could not automatically determine release name through github action"
[code]
https://github.com/ljosberinn/personal-react-boilerplate/runs/1033927999?check_suite_focus=true

[code]

fwiw, I've had the same exact error previously with the webpack plugin, so I'll fallback to that and live without suspected commits then... but would be at least find out why this occurs

[2020-08-27 09:43] kamilogorek commented on #810
I see you are using `getsentry/action-release` for this. Let me ping @mgaeta who knows more about it than me.

[2020-08-27 13:34] gauravahuja-unthinkable commented on #716
I had to downgrade from version 1.55.2 to 1.55.1 to get it working

[2020-08-27 14:09] kamilogorek commented on #716
But there was no changes to the upload process between `1.55.1` and `1.55.2` 🤔

[2020-08-27 18:07] Legi0n1138 commented on #716
CI builds with latest cli (`npm install -g @sentry/cli`) started failing, specifying `1.55.1` solved the issue.

[2020-08-27 19:14] mgaeta commented on #810
Hi I found what's causing the problem. In your example, the action tries to pick a version name based on the current `HEAD`. You need to check out your repo in order to use git:
[code]
I'll update the documentation to reflect this.

[2020-08-27 20:18] ljosberinn commented on #810
Thanks, that did it! Ironically that made me discover a flaw in the whole concept of using the action in my situation, as I don't build the site via actions and then deploy those artifacts, but just initiate a build remotely.

[2020-08-27 20:18] #810 closed

[2020-08-27 21:47] fastlorenzo commented on #676
Same here, preferably an ARM binary for musl as well (alpine docker)

[2020-08-28 07:44] ryan1336 commented on #449
Also facing this issue.

[2020-08-29 09:58] axelander commented on #716
Alright, thanks! I tested downgrading to 1.54.0 and that also worked.

[2020-08-30 14:14] Shivang-Bhandari commented on #716
will try to downgrade and see if this works for me! thanks @kAworu @Legi0n1138

[2020-08-31 11:01] kamilogorek commented on #782
@nturpin feel free to reach me out kamil@sentry.io Thanks for the patience, it's quite a busy time recently.

[2020-08-31 11:05] kamilogorek commented on #796
This is an environment configuration issue and has to be resolved there. You can most likely fix this using `ca-certificates`. See https://medium.com/@superseb/get-your-certificate-chain-right-4b117a9c0fce for more details.

[2020-08-31 11:05] #796 closed

[2020-08-31 11:06] kamilogorek commented on #798
It's not possible and we are not planning on changing this anytime soon.
If something is not working, it should be fixed in sentry-cli directly.
Cheers!

[2020-08-31 11:06] #798 closed

[2020-09-01 08:08] Fnxxxxo commented on #807
@kamilogorek Resolved. Thanks.

[2020-09-01 08:08] #807 closed

[2020-09-01 12:49] bartek-wesolowski opened #814 "HTTP 504 when trying to set commits to a release"
I'm using setnry-cli  1.55.2. I'm running the following command:
`sentry-cli releases set-commits <my version here> --auto`

I'm getting this result:
[code]

This is probably because the number of commits I'm trying to send is quite large (hundreds).

I filed another issue recently in which only 50 commits were attached to a release even if there were more of them. After fixing this, perhaps the s

[2020-09-02 08:35] nturpin commented on #782
An update from our side: I do not get this error anymore, our scripts are working again. Currently using sentry-cli 1.55.1

Thank you @kamilogorek! I will send you more info or logs if we find this issue again.

[2020-09-03 00:18] kingdavidmartins opened #815 "Uploading react native source maps seem to break at App center step"
This is a command that has been automated and has been running for sometime without issues. Curious if ya'll have any thoughts as to why they are now failing at the `Fetching latest AppCenter deployment info` step

Log

[code]

[2020-09-04 06:21] chaitanyadeorukhkar commented on #815
Facing the same problem

[2020-09-04 15:53] ianks commented on #803
Is there a temporary fix in the meantine?

[2020-09-04 23:14] jeremymurray opened #816 "1.56.0 - 403 forbidden during package build on AppVeyor"
We bumped sentry-cli to 1.56.0 and ran into the following error during yarn install on AppVeyor:

[code]

yarn install local on windows worked fine.

Reverting to 1.54.0 let the build progress as normal.

[2020-09-04 23:15] jeremymurray commented on #816
Reverting to 1.54.0 let the build progress as normal.

[2020-09-07 08:33] ccopsey opened #817 "send-event failing with Windows-x86_64 for versions > v1.35.6"
This is the first time I have attempted to use sentry-cli, so I'm not an expert on expected behaviours, but on a clean Windows 10 x64 machine (no .sentryclirc), with a DSN targetting sentry.io, and an auth key with full permissions, I only get events logged for releases up to, and including, v1.35.6.

#526 was a significant help in understanding that older versions worked, and the debug log looks

[2020-09-07 10:44] #815 closed

[2020-09-07 10:44] #816 closed

[2020-09-07 12:08] kamilogorek commented on #815
Fixed and released as `1..56.1`. Cheers!

[2020-09-07 12:08] kamilogorek commented on #816
Fixed and released as `1..56.1`. Cheers!

[2020-09-07 13:53] GeryEmreis opened #819 "Allow to set timestamp when sending events"
Hi, I use sentry-cli to send events to Sentry.  I would like to be able to set event timestamp through CLI because I read events from log file of my application and date of the event can be in the past

[2020-09-09 03:00] export-mike commented on #421
Not really I don't think this is an issue for me anymore. @twelve17  this was 2 years ago

[2020-09-10 10:37] kamilogorek commented on #819
That sounds like a good addition and it should be trivial to add, although I don't have much time recently, so it'll have to wait few days. PR is more than welcome though, and I'm happy to help if you have any questions :)

[2020-09-10 23:01] travigd opened #820 "Fails with npx"
I'm not sure if this is an entry with this package in particular, but it seems to work for other things (I tried with create-react-app just to see), so I'm posting here.

I'm running in CI, in a container with image `node:12-slim@sha256:6ef3d2ceb4b0da8a3c618f773c9e8c5995633711ee49ddb811d0d57cbea7d95c` (and I could reproduce this with the same image on my laptop);
[code]

The output from the log fi

[2020-09-12 16:04] vinnymac commented on #792
@kamilogorek your advice is certainly helpful, but the first thing you mention is that `--auto` takes no additional value and that `${CI_COMMIT_SHA}` is ignored. The [documentation](https://docs.sentry.io/product/releases/#associate-commits-with-a-release) for the CLI has examples that show this exact usage however.

<img width="771" alt="Screen Shot 2020-09-12 at 12 00 23 PM" src="https://user-im

[2020-09-13 07:55] davidsneighbour opened #823 "Badly worded error message "Couldn’t not find the SHA""
On sending

[code]

I receive

`error: Couldn’t not find the SHA of the previous release in the git history. Increase your git clone depth.`

"Couldn't not" would mean it could find the SHA ;) Either couldn't or could not appears appropriate here.

This appears related to this line: https://github.com/getsentry/sentry-cli/blob/4aed5a5c8969bd4df6fd939f1489c7ca4594e721/src/utils/vcs.rs#L489

I would

[2020-09-14 10:09] kamilogorek commented on #823
Fixed in https://github.com/getsentry/sentry-cli/pull/822
Cheers!

[2020-09-14 10:09] #823 closed

[2020-09-14 10:46] kamilogorek commented on #803
Upstream fix PR: https://github.com/getsentry/sentry/pull/20342

[2020-09-14 10:48] kamilogorek commented on #820
You are trying to install incorrect package. `npx @sentry/cli <command>`.
Cheers! :)

[2020-09-14 10:48] #820 closed

[2020-09-14 10:50] kamilogorek commented on #792
@vinnymac good catch, updated my comment. I misread the command 😅

[2020-09-14 23:03] bsergean commented on #704
Hi there ... I actually have some problems using the batch upload way.

Uploading files one by one works though. Not sure what's going on yet but just a heads up.

[2020-09-15 01:36] bsergean commented on #704
[code]

If I use the batch upload (using . as the folder) I don't see my code contexts for my crashes.
If I upload files individually (which takes about one hour as we have 4000 of them) my code context do work.

[2020-09-15 08:47] kamilogorek commented on #704
@bsergean could you provide some debug logs for both cases? (`SENTRY_LOG_LEVEL=debug` or `--log-level debug`)
These upload methods should be fully interchangeable 🤔

[2020-09-15 08:59] AxelTerizaki opened #825 "install script unable to find Windows 32-bit binary (403)"
Hello.

We're still using Windows 32 bits workstations (not for too much longer) and @sentry/cli fails the install phase with a 403 error.

I tried looking around and found out that node was reporting a "ia32" arch for this particular architecture and not "i686" as I've seen in the install.js file. When trying out different URLs, I realized that https://downloads.sentry-cdn.com/sentry-cli/1.56.1/s

[2020-09-15 09:17] kamilogorek commented on #825
Hey @AxelTerizaki, the fix was merged exactly 34 minutes ago :)
https://github.com/getsentry/sentry-cli/pull/824

[2020-09-15 09:26] AxelTerizaki commented on #825
Haha nice :) I'll have to wait for the npm release then.

Thanks a lot !

[2020-09-15 09:26] #825 closed

[2020-09-15 09:31] #819 closed

[2020-09-15 13:10] kamilogorek commented on #825
Released as `1.57.0`. Cheers!

[2020-09-15 16:13] bsergean commented on #704
## Batch upload

[code]

## Individual file upload

Those are failing with a 409 error because I uploaded them twice. Note that I used --finalize to finalize the release.

[code]

[2020-09-15 17:54] bsergean commented on #704
https://github.com/getsentry/sentry-cli/pull/715/files#diff-cb855f2407956db7a6542289a0415ed6R803

I wonder if the problem is because I have no url prefix (like no ./ and so the files are not matched). Have you tried with . as the root folder (like picking all the files in the current directory ?).

[2020-09-16 10:52] sweta-stanza commented on #815
Having same issue in version 1.57.0

[2020-09-16 10:54] kamilogorek commented on #704
@bsergean can you confirm that the problem itself is that files are uploaded but not picked up? Or the other way around?
You should be able to distinguish it by verifying that files were uploaded in one of this section in the settings (depending on what you are uploading):

![Uploading image.png…]()

[2020-09-16 20:59] bsergean commented on #704
Summary: the upload appear to work fine, no error from the cli.

But when I look at crashes, the backtraces are missing code context.

[2020-09-17 12:00] connorjburton opened #827 "Avoid downloading file"
Hi,

We are behind a fairly strict corporate proxy, the current installer doesn't work as our certificate and user agent does not get passed  to `node-fetch`. I have modified the installer myself to use `axios` and the current settings which does correctly get to the proxy now however the CDN that the installer file is hosted on has a high threat level and is blocked.

As you can tell I don't have

[2020-09-17 12:17] kamilogorek commented on #827
Hey, if your configuration allows it, you can give github a try:

[code]

If that still doesn't work for you, you can skip running install script with `npm install @sentry/cli --ignore-scripts` or `yarn add @sentry/cli --ignore-scripts` and then manually place your binary in the root directory of `node_modules/@sentry/cli`. It'll work just fine that way as well.

Cheers!

[2020-09-17 13:12] connorjburton commented on #827
We have found the hard way github release download URL's don't work as they generate an S3 link and 403 you there, our proxy doesn't like following redirects.

The `ignore-scripts` method is interesting but as `@sentry/cli` is already in our `package.json` we would have to run `yarn --ignore-scripts` which would ignore all scripts for all packages which isn't an option for us.

If I were to instal

[2020-09-17 13:16] connorjburton commented on #827
Or as you said, I could remove the install script on my forked repo and manually place the binary in the `node_modules/@sentry/cli` folder and it would work?

[2020-09-17 14:14] kamilogorek commented on #827
Other than creating some bootstrapping script, I'd say it's your best bet.

A script could be as simple as:
[code]

[2020-09-17 18:27] twelve17 commented on #421
@export-mike  This indeed is an old issue, but it is still reproducible.  Are you sure it's not an issue because you've done the workaround of symlinking node to /usr/local?

[2020-09-17 19:10] alacoste commented on #814
We are seeing the issue as well. Our CI sometimes fails on the first sentry command, but even if it succeeds it always fails on the second.

First:
[code]

Second:
[code]

[2020-09-18 07:22] x-yuri commented on #792
@kamilogorek @sgametrio Actually I believe `sentry-cli` shouldn't fail because of a rebase. Just store in a release a list of associated commits (unless you already do), and look in the git history not for a release name, but for every commit in turn. Unless you find the commit in the previous release, check the one before that. Maybe 2 releases is generally enough. But you can add a switch to spe

[2020-09-18 07:54] connorjburton commented on #827
Okay that is really helpful, thanks. And thanks for replying so quickly.

[2020-09-18 07:54] #827 closed

[2020-09-18 12:39] aarhusgregersen commented on #179
I know I'm chiming in a bit late on this, but the documentation has been updated to reflect this nicely. However, it may make sense to keep it open as the issue points to fixing option positions, which still isn't possible.

[2020-09-18 14:19] omaraltayyan commented on #676
please note this has increased in importance with the release of AWS's new Gravaton2 processors into EC2 mainstream instances (T4G), so it's becoming a necessity to support ARM in popular packages.

[2020-09-18 16:30] lukewlms commented on #402
For reference: looks like "a custom build script" is [the way to go](https://github.com/getsentry/sentry-cli/issues/81#issuecomment-309139462)

[2020-09-18 17:30] lukewlms commented on #81
@mitsuhiko I haven't been able to get this working - [details here](https://stackoverflow.com/questions/63959163/how-do-i-customize-the-location-of-index-js-with-sentry-in-react-native).  Is there a concrete example anywhere of exactly where to put the script and how to reference it?

I'm getting: `Permission denied (os error 13)`

[2020-09-18 17:33] lukewlms opened #828 "Docs request: add concrete example of how to set up a custom build script"
https://github.com/getsentry/sentry-cli/issues/81#issuecomment-309139462 gives abstract instructions on how to set up a custom build script, but I can't find an example anywhere.  Where do I put the script exactly (in the `ios` directory?) so sentry-cli can find it, and how do I reference it exactly?

Having a non-standard path to `index.js` is quite a common scenario especially for Typescript use

[2020-09-18 18:11] lukewlms commented on #828
Porting to Sentry react-native repo: https://github.com/getsentry/sentry-react-native/issues/1092

[2020-09-18 18:11] #828 closed

[2020-09-18 18:47] dcramer opened #829 "@sentry/cli should allow all parameters"
The npm package should allow any argument passed via command line, effectively avoiding the need for a configuration file.

An example of this is in the ``release.new`` construct. It needs to have an organization slug be defined. Ideally this configuration could be given as part of the CLI constructor, but at the very least it needs to be made available to the individual commands.

[2020-09-18 18:59] dcramer commented on #829
While not ideal, this limits the amount of changes required to get something done: https://github.com/getsentry/sentry-cli/pull/830

[2020-09-21 16:15] lukewlms commented on #81
I ended up removing the Sentry build step, because it [isn't designed to work with bitcode](https://docs.sentry.io/clients/cocoa/dsym/), which iOS projects will have on by default.

It seems a bit strange that the default Sentry setup would be incompatible with the majority of iOS installations.

[2020-09-21 16:16] lukewlms commented on #402
We just turned off the build step.  It turns out this build step shouldn't even be active for most iOS projects anyway, because it's incompatible with Bitcode (which is on by default in iOS).

https://docs.sentry.io/platforms/react-native/#ios-specifics

[2020-09-22 08:51] Swatinem opened #831 "`--include-sources` is re-uploading unconditionally"
On windows 10, with `sentry-cli@1.57.0`, using `--include-source` will always re-upload the sources even if they were already uploaded.
When I skip this switch, I get the expected `> Nothing to upload, all files are on the server`

[2020-09-22 12:25] jan-auer commented on #831
This is a problem with symbolic's `SourceBundleWriter`. It generates a ZIP archive of files, which has the current system date in the header. This means that the file hash changes every time, and thus sources are re-uploaded.

To combat this, we could consider multiple approaches:
- Exclude the date time from the ZIP header. I haven't checked if that's easily possible, but it would at least integr

[2020-09-22 14:53] xesjkeee opened #832 "Fullness error info"
Hey, Sentry team 👋

When I got error like `Error: Received 404: Not Found`, I guess I'm a little numb

https://github.com/getsentry/sentry-cli/blob/ca892f71fd75c7f3c9ae1d96e89beab823160ca5/scripts/install.js#L212

I would like if you add some more detailed information, please 🙌

In the error when I cant download binary, I expect what I get something like this:
`Error: Received 404: Not Found: Can'

[2020-09-22 14:59] evilrussian commented on #832
Life situatuion - if SENTRYCLI_CDNURL incorrect or there is not file there you will got an error:
[code]
it can confuse you

[2020-09-22 21:13] Shafayet-LMI commented on #603
hi we are using a custom build of electron and so l believe pointing to the Built-in repos will not work for us. Has there been any improvements since? .... that will allow us to upload a custom Electron Framework.dym file (>2.00 GB)?

[2020-09-22 21:13] Shafayet-LMI commented on #603
@jan-auer ?

[2020-09-23 07:11] jan-auer commented on #603
There are two workarounds you can employ:

- If you're on a business plan at Sentry, you can place the files on another storage and Sentry downloads it from there. This storage can be an Amazon S3 or Google Cloud Storage, as well as a custom HTTP server that serves the files. You can find more information about this here: https://docs.sentry.io/platforms/native/data-management/debug-files/#custom-

[2020-09-23 09:23] #832 closed

[2020-09-23 15:14] Shafayet-LMI commented on #603
hi @jan-auer  thanks a lot!! I think both of these are excellent options that will get us moving forward! Really appreaciate the prompt response :)

[2020-09-23 20:06] philmitchell opened #834 "Intermittent upload failures from Xcode run script"
We are calling `sentry-cli` from a run script [as suggested](https://docs.sentry.io/clients/cocoa/dsym/). It succeeds sometimes, but as often fails with a `No such file or directory` error. Debug output is:

[code]

The missing file is usually one of:
 + libswiftos.dylib.original
 + libswiftCore.dylib.cstemp
 + libswiftDispatch.dylib.original
 + libswiftMetal.dylib.original

[2020-09-25 13:02] njbmartin opened #835 "install script doesn't check if cli has been installed to local user"
Running `curl -sL https://sentry.io/get-cli/ | bash` on this Docker image `mcr.microsoft.com/vscode/devcontainers/javascript-node` installs it here:

[code]

That's fine, and can use it directly, but when I do clean install of the npm modules, `@sentry/webpack-plugin` fails as `sentry-cli` tries to create a directory here: `/root/.npm/sentry-cli` rather than checking if it is already installed.

I

[2020-09-27 08:31] rahamin1 commented on #752
#### Using yarn on Windows 10 -and- "@sentry/react-native": "^1.7.2",

### The error (there is a similar output for _1001, _2001, _4001:
[code]

### My environment

[code]

[2020-09-28 10:05] Paul-van-Klaveren opened #836 "WARN section out of bounds (from goblin)"
[sentry-cli 1.58.0 via Homebrew]
[code]
"  WARN   " _in black with a red background_ sounds ominous, yet the scripts finishes saying it uploaded the files. As a user, should I be concerned with the warning?

[2020-09-29 02:25] winstondu opened #837 "Force overwrite when uploading symbol files"
Is there a way for the `upload-dif` to not check if the files already exist on the server, but instead straight up overwrite them?

I need this because the `sentry_upload_dsyms` lane does not seem to use my bcsymbolmaps to unobfuscate, so I need to unobsufcated myself locally on my machine, and then force upload up those files to sentry (without sentry refusing to accept them)

[2020-09-29 11:20] jan-auer commented on #836
You do not need to be concerned about this warning at this place.

@kamilogorek can you look into customizing log levels for some of our downstream crates like we do [in Relay](https://github.com/getsentry/relay/blob/b516a63b733a8c249baba85e853c837bcef3fc32/relay/src/setup.rs#L73-L76)? I think we may need to suppress everything that is not an error from goblin, as we're handling these things in `s

[2020-09-29 12:02] kamilogorek commented on #836
@jan-auer will try to find some spare time to tackle this

[2020-09-29 16:34] fdobre commented on #81
I was able to make it build with `chmod 755 rnbuild.sh`

my xCode bundle command
[code]

[2020-09-29 18:05] Natteke commented on #285
this issue not solved and still exist, gentlemen's

[2020-09-30 08:31] leemhenson opened #838 "npm install fails in github action"
Hi. I'm using the sentry webpack plugin and thus the sentry cli package is a dependency too. Running locally everything works as expected. But when I push to github, a custom action kicks off which takes 6 hours to run and then dies. All it is doing is running `npm install`. I don't actually invoke sentry in the github action in any way.

Here's the log output:

[code]

Here's the github action:

[2020-09-30 12:49] kamilogorek commented on #838
Looks like some kind of hiccup to me. Just verified it on an empty repo and it works just fine - https://github.com/kamilogorek/tmp/runs/1187733612?check_suite_focus=true

[2020-09-30 13:04] leemhenson commented on #838
I just tried it again, updating to the latest action version: `bahmutov/npm-install@v1.4.3`

[code]

[2020-09-30 13:05] alex-fournier opened #839 "[feature-request] Add a configuration for upload-url"
## Why

Our Sentry instance is accessible under two domains: one is private and only reachable from inside the company network, the other is accessible from internet for error reporting and some api calls.

When trying to upload sourcemaps using `sentry-cli`, there is a call to `/api/0/organizations/<org>/chunk-upload/` returning a config containing a field `url`.

`sentry-cli` then uses this url

[2020-09-30 15:35] kamilogorek commented on #837
There's no such option at the moment. As for the issue with obfuscation, cc @jan-auer

[2020-09-30 15:35] kamilogorek commented on #752
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2020-09-30 15:35] #752 closed

[2020-09-30 15:40] kamilogorek commented on #835
Afair `/root/.npm` is our cache location, you should be able to modify it with any of the env variables below:

[code]

[2020-10-01 08:46] laurentgoudet opened #840 "upload-sourcemaps sometimes hangs forever"
We are uploading our client-side sourcemaps as part of a CI pipeline using the Sentry CLI. It works well 99% of the time, but, occasionally, it just gets stuck forever (> 2 hours, whereas it usually takes ~30 seconds to complete), right after printing `> Bundled <x> files for upload` (see debug logs below), causing our release flow to be interrupted.

[code]

[2020-10-01 09:46] seroy opened #841 "Partial releases and source maps"
We have typical Django project with backend and frontend codebase. Often we have a situation when only python code is changed and need to release it. So we don't run "full" deploy with building javascript/source maps. This problem that release don't have source maps files in this case.
Is there any way to "say" Sentry to take source maps from the previous release? Or what is the best way to solve

[2020-10-01 10:07] kamilogorek commented on #841
There's no way to achieve this. When your release ID changes, you need to upload recompiled sources as well.  The important part here is that release inside your `Sentry.init` call has to match the release that contains sources.

[2020-10-01 13:48] jan-auer commented on #837
Sentry deduplicates debug files by their contents. If you deobfuscate, then the contents change and so sentry-cli should accept them for uploading.

I'm a little surprised that BCSymbolMaps are not being applied in your case, however. Usually, `sentry-cli` can do this using [`--symbol-maps`](https://docs.sentry.io/product/cli/dif/#symbol-maps).

Are you using the [`sentry-fastlane-plugin`](https:/

[2020-10-02 10:33] seroy commented on #841
I am understand that right now is no way to achieve this, but i am pretty sure that our release cycle is not unique and it would be nice to have a solution out of the box. The first idea is that if Sentry would have API for downloading the source maps from previous release then it will be possible with shell scripts/ansible/etc (as part of deploy) to download and re-upload for new release. The sec

[2020-10-04 01:11] njbmartin commented on #835
Thanks, @kamilogorek. The problem isn't that the NPM module fails to install, it's the fact there already exists a CLI binary, but the NPM package ignores it.

I also don't want to mess with environment variables for npm.

[2020-10-05 09:42] kamilogorek commented on #841
We do have an API for that - https://docs.sentry.io/api/releases/
As for the second option, you'd have to ask at getsentry/sentry repo, but as far as I know, t's not on our roadmap anytime soon.

[2020-10-06 02:44] bjackson commented on #554
I think the docs need to be updated:
https://docs.sentry.io/platforms/react-native/codepush/

[2020-10-09 17:06] nmguse-bighealth opened #843 "release set-commits failed to resolve path"
I am running the following in a Codebuild job:

[code]

These commands work locally fine, however, when I run it in Codebuild, I see the following error:
[code]

sentry-cli version 1.58.0

The path in the error, `/codebuild/local-cache/workspace/73f54128f8df12c885a9de2b5c0d9f232bc2c14f7c6e45cc391d8cc5a3c78435/.git` seems to always be the same path that errors, even through multiple commits and rel

[2020-10-14 03:26] phatNfqAsia opened #844 "Always get Invalid token (http status: 401) for self-hosted Sentry"
**Expected:**
I can run command `sentry-cli releases --org xxx --project xxx  new fixed-release` after logging in by admin user (using generated auth token)

**Current behaviour:**
I constantly get this error
`error: API request failed
  caused by: sentry reported an error: Invalid token (http status: 401)`

**Environment:**
My .sentryclirc look like this:
[defaults]
url=$SELF_HOSTED_DOMAIN_NAME
o

[2020-10-14 13:27] JustDoItSascha commented on #792
Is there any progress here? The set-commits command is failing here, but we haven't done a squash or a rebase. Is there any possibility to get around this problem? Because right now the only way to exit this loop hole is to completely disable set-commits command, right? Or is it possible to say "use auto, but if you don't find something, just take the last commit in history"?

[2020-10-15 06:28] muizidn opened #845 "Cannot parse Info.plist"
Hello,

I found an issue when tried to upload dSYM produced by Bazel Build for iOS. I updated the dSYM by hand and it still emits this error.
[code]

[2020-10-15 13:03] bjornbjorn commented on #271
btw - just ran into this - turns out PiHole will block download of this package. I guess this goes for many DNS ad-blockers.

[2020-10-15 23:38] muizidn commented on #845
Rebuilt from source with `rustc 1.47.0 (18bf6b4f0 2020-10-07)` and now it works.

[2020-10-16 00:05] #845 closed

[2020-10-16 00:16] muizidn opened #846 "Unable upload dSYM when dwarf file is a symlink"
Hi,

Any thought why does sentry-cli doesn't upload dSYM when dwarf file is a symlink.

I built my iOS project using bazel and it produces dSYM with dwarf file is a symlink to the internal bazel working directory.

Here is the `tree` for the dSYM directory.

[code]

I copied that directory with `cp -LR` which the target directory will derefence all symlinks. I use it as `export DWARF_DSYM_FOLDER_P

[2020-10-16 01:09] muizidn commented on #845
Strange Things happen. Turns out this is symlink issue. When dSYM located inside a symlinked directory, this error occurs. #846

[2020-10-16 22:08] dannyhertz commented on #797
I'm also having this issue (using via fastlane sentry_upload_dsym) Any help would be greatly appreciated!

[2020-10-16 23:48] #846 closed

[2020-10-16 23:49] muizidn commented on #846
Turns out it is my mistake. It is the `DWARF_DSYM_FOLDER_PATH` the culprit.

[2020-10-19 22:27] dannyhertz commented on #797
@nturpin were you able to resolve this?

[2020-10-21 04:49] kaiyoma commented on #727
What exactly is the resolution here? We recently added sentry-cli to our project and we started seeing these errors pretty much immediately in our CI.

[2020-10-21 09:35] kamilogorek commented on #727
@kaiyoma if you env. has troubles connecting to our CDN, you can point it to GitHub releases instead

[code]

(you can use it as a fallback in your shell script for example)

[2020-10-21 10:33] imayo opened #847 "No debug (PDB) files found"
Hello,
I am having a problem when trying to upload our *.pdb files to our c++ native project.
I am checking file in current folder as this:

`sentry-cli.exe difutil check --log-level=debug dixper.pdb
  INFO    2020-10-21 12:27:19.001765800 +02:00 Loaded config from C:\Users\IMayo\.sentryclirc
  DEBUG   2020-10-21 12:27:19.003766100 +02:00 sentry-cli version: 1.58.0, platform: "windows", architectu

[2020-10-21 16:33] kaiyoma commented on #727
I appreciate the workaround, but why is this necessary at all? We're seeing errors when running a simple `yarn install`. It's pretty annoying that our other 1,000+ packages install just fine via the normal mechanisms, but this one insists on doing things differently, and now we have to opt-out of that behavior. Why not follow what the rest of the community does?

[2020-10-21 16:42] cchiaramelli commented on #790
I was getting the same error, but it was actually solved by setting a max gradle workers: https://stackoverflow.com/a/56027775/3235512

[2020-10-22 10:19] TuurDutoit opened #848 "set-commits fails if any registered repo is invalid"
## The issue
A few days ago, we suddenly started seeing some failures on our CircleCI workflows. This turned out to be caused by the very last step, which runs the following command (some parts censored):

[code]

and started returning the following error:

[code]

However, this command *is* run within a Git repo, as it has been for months.

## Cause
Listing all our repos works as expected, althou

[2020-10-23 09:21] issaclam926 commented on #844
same issues I got . want some help.

[2020-10-23 09:50] radomeit commented on #844
I had the same issue. In my case it was cause my Sentry CLI always tried to connect to the sentry.io server instead of my self-hosted sentry server.
Please enter `sentry-cli info`. If it shows sentry.io as server instead of your local server, than that's the problem.
I fixed it by adding
[code]
 in .sentryclirc.

[2020-10-23 11:17] zkrige commented on #421
This is indeed still an issue

[2020-10-23 14:47] hatton commented on #800
Still fails, because it calls `sudo`:

This script will automatically install sentry-cli 1.58.0 for you.
Installation path: /usr/local/bin/sentry-cli
############################################################################################################ 100.0%
bash: line 60: sudo: command not found

[2020-10-24 15:00] prewk opened #849 "Uploading artifacts work with curling organization API, but not in sentry-cli"
Hi!

I have a problem where **curling** artifacts to the `organization` API (`/api/0/organizations/{org}/releases/`) work, but when I try to use the `sentry-cli` instead it seems to call the `project` API (`/api/0/projects/{org}/{project}/releases`) instead.

I wouldn't mind if it wasn't for the fact that the token I've created, that has **all permissions enabled** (for testing) work with curl but

[2020-10-24 18:02] prewk commented on #849
Could not repro in two different places so I guess the problem is somewhere in our CI. Worked if I did the process from my local environment for some reason.

[2020-10-24 18:02] #849 closed

[2020-10-29 14:03] nturpin commented on #797
Sorry for late answer! It was somehow resolved, either an update or something else solved it. I have not seen the issue anymore, lately.

[2020-10-29 14:32] dannyhertz commented on #797
@nturpin fascinating! Would you mind letting me know which version of fastlane and sentry-cli you are using? Thanks!

[2020-10-29 16:29] phatNfqAsia commented on #844
Update: it was due to connection issue in my machine, I tested the command on another device and it worked fine

[2020-10-29 16:29] #844 closed

[2020-10-29 16:58] superyarik commented on #838
same problem on CI server

[2020-10-30 10:15] punksta opened #851 "Question: how upload sourcemaps for react-native file ram bundle?"
I am using the following script to upload source map for react-native app.
[code]

But it doesn't work if I enable react-native file ram bundle.
<img width="498" alt="image" src="https://user-images.githubusercontent.com/13404754/97693296-408d7000-1aa1-11eb-912a-2ac019e6cb0e.png">

I assume I need to upload `js-modules` folder too. How I can do it?

Thanks!

[2020-11-03 08:28] kamilogorek commented on #727
sentry-cli is a program written in Rust, that's compiled separately to different architectures. It's not possible to provide it via regular npm package, but it has to be detected what env should be used first, and then it has to be pulled down from the 3rd party server, in this case, our CDN. It's not as straightforward as "just put it in the npm registry". Whenever this error happens, it's in maj

[2020-11-03 16:45] silent1mezzo commented on #803
This has been merged and deployed.

[2020-11-03 16:45] #803 closed

[2020-11-04 13:23] maniskasyap opened #854 "Error in building for linux"
OS - macos mojave 10.14.6
make - GNU Make 3.81
cmake - cmake version 3.19.0-rc2
cc - Apple LLVM version 10.0.1 (clang-1001.0.46.4)
rustc - rustc 1.47.0 (18bf6b4f0 2020-10-07)
cargo - cargo 1.47.0 (f3c7e066a 2020-08-28)

When trying to build for target linux, with below command -

`cargo build --release --bins --target x86_64-unknown-linux-gnu`

I am getting an error related to libgit2

**error: fa

[2020-11-04 17:55] kamilogorek commented on #854
Can you provide full error message? You should be able to compile it with `x86_64-unknown-linux-musl` with no issues though.

[2020-11-05 11:08] maniskasyap commented on #854
changing the target to `...-musl` worked
faced standard missing tools error, but [this](https://www.andrew-thorburn.com/cross-compiling-a-simple-rust-web-app/) article helped

thanks for your help

[2020-11-05 11:08] #854 closed

[2020-11-10 14:40] leemhenson commented on #838
Still broken for me too 😞 .

[code]

[2020-11-11 00:37] vdh opened #855 "`sentry-cli releases list` command suddenly broken, returns empty"
The `sentry-cli releases list` command has suddenly changed recently to return nothing, specifically the underlying `https://sentry.io/api/0/projects/{organization_slug}/{project_slug}/releases/` endpoint it uses now returns an empty array.

I can't find any information why this endpoint suddenly changed.

[2020-11-11 02:37] ehyland commented on #848
Thanks for reporting this @TuurDutoit, saved me a lot of time :)

I just had the same issue, found a repo named origin with unknown provider in sentry settings. No idea how it got there.

https://sentry.io/settings/<org-name>/repos/

Deleting it fixed the issue for me

[2020-11-11 15:48] leemhenson commented on #838
I have no idea why it helped, but I moved `@sentry/cli` to optionalDependencies and now it does not fail to install. I think there must be a race condition of some sort in there.

[2020-11-12 07:07] superyarik commented on #838
we have found problem - provider block some IPs and this IP used in sentry CDNs (i am from Russia)
151.101.194.217, 151.101.130.217, 151.101.66.217, 151.101.2.217 block by roskomnadzor - https://reestr.rublacklist.net/search/?q=151.101.2.217

[2020-11-13 17:30] NickWer opened #856 "Binary caching does not respect cache setting"
Hi,
I'm currently working on tuning our CI performance but I've run into an issue where sentry's `install` script is always downloading the binary to `~/.npm/` rather than the directory configured in my `.npmrc` or the directory specified when running `npm ci --cache myProjectCacheFolder`.  Because it's not installing to the correct cache folder, our runners can't pick it up, which means it gets r

[2020-11-16 10:48] untitaker commented on #855
Thanks @vdh for reporting, this is a regression on the server that we will fix today.

[2020-11-16 10:55] kamilogorek commented on #838
@superyarik if our CDN is blocked, it's possible to swap the CDN the script points to and use the GitHub itself instead.

[code]

[2020-11-16 10:59] kamilogorek commented on #848
@TuurDutoit @ehyland what version the the cli are you using? This issue _should_ have been already fixed 🤔

https://github.com/getsentry/sentry-cli/blob/7d0470f98f6bcc67ec4bca5bc8c43be9fd01d7d4/src/utils/vcs.rs#L248-L252
https://github.com/getsentry/sentry-cli/blob/7d0470f98f6bcc67ec4bca5bc8c43be9fd01d7d4/src/utils/vcs.rs#L277-L279

(it should skip invalid entries now)

[2020-11-16 11:05] TuurDutoit commented on #848
We're currently using `sentry/cli@1.53.0`; not sure why I didn't look at the code on master... I'll try updating!

[2020-11-16 11:21] kamilogorek commented on #856
What CI are you using? Different services handle caches differently. I just verified it locally, and both scenarios (config option and --cache) work just fine - fetch first, use cached on 2nd run.

![image](https://user-images.githubusercontent.com/1523305/99246712-114b6280-2806-11eb-89fc-6c67a721d667.png)

![image](https://user-images.githubusercontent.com/1523305/99246703-0c86ae80-2806-11eb-83a8

[2020-11-16 11:56] #855 closed

[2020-11-16 14:39] NickWer commented on #856
We're using gitlab, but I'm able to reproduce the issue just on my mac with npm v6.10.3 and node v12.10.0
<img width="698" alt="Screen Shot 2020-11-16 at 9 28 32 AM" src="https://user-images.githubusercontent.com/3439382/99264260-3a5ff900-27ee-11eb-9970-aa4df13e3d1f.png">

At the end of this screenshot you can see that even though the npm cache has been placed inside the project directory (consist

[2020-11-16 16:07] TuurDutoit commented on #848
@kamilogorek It seems to be working now with `@sentry/cli@1.59.0`!

[2020-11-16 16:07] #848 closed

[2020-11-16 20:17] nagendertank opened #859 "Sentry sourcemap is failing with error "Bad address (os error 14)""
Debug logs:
[code]

[2020-11-17 10:02] kamilogorek commented on #848
Thanks for verifying!

[2020-11-17 15:27] cjpete commented on #790
This workaround is loosely documented here, for anyone else finding this: https://support.circleci.com/hc/en-us/articles/360021812453-Common-Android-memory-issues

[2020-11-18 21:23] NeilHanlon commented on #839
@alex-fournier  -- Working on this...

[2020-11-20 08:44] dario-colombo commented on #789
i think this issue is still open, when not having a linked repo running with --local or --auto yeld
error: Could not find the SHA of the previous release in the git history. Increase your git clone depth.

[2020-11-23 09:55] csonuryilmaz opened #861 "releases delete: not allowed on some releases"
Hi, when I try to delete a release I get "This release has health data and cannot be removed" error message.

Same release is also not allowed from UI. (_You can only delete releases if they have no issues or health data._)

Release has no issue but I think has health data no background. (?)

<img width="400" alt="release detail on Sentry UI" src="https://user-images.githubusercontent.com/7355362/

[2020-11-23 12:30] kamilogorek commented on #861
@csonuryilmaz can you mail me your organization and project name at kamil@sentry.io
I'll see what's going on and verify whether it's CLI issue or something else.

[2020-11-23 12:54] csonuryilmaz commented on #861
@kamilogorek Although we're using on-premise version of Sentry (w/ docker), I've added you to our organization and project. 😊  Hope to hear good news... 🙏

[2020-11-23 13:11] kamilogorek commented on #861
@csonuryilmaz so release removal is not possible once it's associated with any queryable data, however, if you bump the version to `20.11.x`, you'll be able to archive all dummy releases and they won't be seen in any queries or CLI commands. Cheers!

[2020-11-23 13:11] #861 closed

[2020-11-23 15:44] csonuryilmaz commented on #861
👍 This behaviour solves my requirements, version bump seems good to me. Thanks.

[2020-11-23 21:13] NickWer commented on #856
Turns out it was an issue with `npm ci` dropping certain config settings from the environment. Upgrading npm to the latest version solved the issue :) You can read more [here](https://github.com/npm/cli/issues/1451#issuecomment-732427861)

[2020-11-23 21:13] #856 closed

[2020-11-25 03:11] export-mike opened #864 "my sourcemaps are not coming through!"
This is really really hard to debug issues! we want our lovely sourcemaps back!

we are using react-native

our deps look like:

[code]

I have a theory that this is being broken by our nodejs-assets directory? which is a nodejs plugin
https://github.com/janeasystems/nodejs-mobile-react-native

[code]

our index.js looks like:
[code]

any ideas? anything else I can share that's useful?

[2020-11-25 03:13] export-mike commented on #864
@tomWritesCode

[2020-11-25 09:09] kamilogorek commented on #864
CLI debug output (`SENTRY_LOG_LEVEL=debug` and some explanation of how you upload the source maps in the first place would be great for sure. And a shareable link to any event that should be mapped but is not.

[2020-11-26 13:48] kamilogorek commented on #856
Good to know, thanks!

[2020-11-26 16:12] indatawetrust commented on #179
This is the scariest cli app experience i have ever seen. I really haven't seen anything worse. Thanks sentry.

![gif](https://media.tenor.com/images/92ea8142d21b2894ea3ed62bbd81ef37/tenor.gif)

[2020-12-02 09:12] trevorcreech opened #868 "Version 1.60.0 seems to have broken `sentry-cli releases finalize`"
On 1.59.0:
[code]

On 1.60.0:
[code]

Debug log:
[code]

[2020-12-02 09:37] shenek commented on #868
Currently we are having exactly the same problem.

We are using sentry-cli from dockerhub.
[code]

[2020-12-02 10:24] shenek commented on #868
I think. I found the problem.

https://github.com/getsentry/sentry-cli/commit/6cd5fb2a626f7b588807eeacc02176076ba2d6c4#diff-adea2445327e39eb215de697b440dbbc02135357380fb612a10a9e659129a46bR755-R757

Function `update_release` is used in finalize. However the commit changes from `PUT` -> `POST`.
Which doesn't work well for the finalization of the release. And according to the doc the API endpoint is

[2020-12-02 12:03] kamilogorek commented on #868
Sorry for the inconvenience, we're working on fixing this right away. Also thanks for the PR @shenek, however this patch itself won't solve the problem completely without internal Sentry changes. Will keep you posted!

[2020-12-02 12:06] jamesrwhite commented on #868
In case this is useful for anyone else who was using `curl -sL https://sentry.io/get-cli/ | bash` as we were you can replace it with this to pin to the previous working version:

[code]